/* CSS Arrows From Css-Tricks */

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #f00;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	
	border-left: 60px solid green;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid blue; 
}

.circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}


/* Animations */

@-webkit-keyframes spinZ {
    0% {transform: rotateZ(0deg); 
        transform-origin: 0% 50% 0%;}
    100% {transform: rotateZ(360deg); transform-origin: 0% 50% 0%;}
}


@keyframes spinZ {
    0% {transform: rotateZ(0deg); 
        transform-origin: 0% 50% 0%;}
    100% {transform: rotateZ(360deg); transform-origin: 0% 50% 0%;}
}