@keyframes black-to-white {
    0% { background-color: $white;}
  100% { background-color: $black;}
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Animation for objects to fade in & move on reveal, triggered w/ JS
@keyframes fadeIn {
    0% { transform: translate3d(0, 20px, 0); opacity: 0; }
  100% { transform: translate3d(0, 0, 0);    opacity: 1; }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }

  100% {
    opacity: 1;
    transform: none
  }
}

.cssanimations {
  .fade {
    opacity:0;

    &.v {
      animation: fadeIn 1s 0.2s ease forwards;
    }
  } 

  .feature.fade {
    opacity:0;

    &.cols_3_1.v { animation: fadeIn 1s 0.1s ease forwards; }
    &.cols_3_2.v { animation: fadeIn 1s 0.4s ease forwards; }
    &.cols_3_3.v { animation: fadeIn 1s 0.7s ease forwards; }
  }
}


// @keyframes zoomIn {
//   0% {
//     opacity: 0;
//     transform: scale3d(.3, .3, .3);
//   }
//   // 50% { opacity: 1 }
//   100% { opacity: 1; }
// }

// @keyframes shake {
//   8%, 41% {
//       transform: translateX(-10px);
//   }
//   25%, 58% {
//       transform: translateX(10px);
//   }
//   75% {
//       transform: translateX(-5px);
//   }
//   92% {
//       transform: translateX(5px);
//   }
//   0%, 100% {
//       transform: translateX(0);
//   }
// }
