// Colors
$black:       #58585a; // almost black
$white:       #ffffff; // 100% white
$yellow:      #ece25a; // FourKites brand yellow
$blue:        #97cbe0; // FourKites brand blue
$red:         #dd584a; // FourKites brand red
$grey:        #ababac; // darkest grey
$grey-light:  #dfdfdf; // lighter grey for rules
$grey-home:   #eeeeee; // light grey for home
$yellow-text: #cec43e; // Yellow Text
$blue-text:   #71a8be; // blue Text
$red-text:    $red;    // red Text


// Customer Colors
$shippers-color:      $red;
$brokers-color:       $blue;
$carriers-color:      $yellow;
$shippers-color-text: $red-text;
$brokers-color-text:  $blue-text;
$carriers-color-text: $yellow-text;
