body {
  background: $black;
  padding-top: $nav-height-mob-calc;

  @include breakpoint($screen-nav-tablet) {
    padding-top: $nav-height-tab;
  }
  @include breakpoint($screen-nav-laptop) {
    padding-top: $nav-height-lap;
  }
  @include breakpoint(desktop) {
    padding-top: $nav-height-dsk;
  }

  &.home {
    @include breakpoint($screen-nav-tablet) {
      padding-top: 0;
    }
    @include breakpoint(laptop) {
      padding-top: 0;
    }
    @include breakpoint(desktop) {
      padding-top: 0;
    }
  }
}

.contain {
  @include max-width;
  background: $white;
  overflow: hidden; // clearfix
  position: relative;
}


// ========================================
// Panel Styles
// ========================================

.l-panel { // generic 100% width wrapper of panels
  background: $white; // override elsewhere if needed, but most will be white
  padding: $pad-mob;
  position: relative;
  overflow: hidden; // clearfix 
  clear: both; // also clearfix, need both

  @include breakpoint($screen-nav-tablet)  { padding: $pad-tab-top $pad-tab; }
  @include breakpoint($screen-nav-laptop)  { padding: $pad-lap-top $pad-lap; }
  @include breakpoint(desktop) { padding: $pad-dsk-top $pad-dsk; }
}

.l-panel-first {
  padding-top: $pad-mob;
  @include breakpoint($screen-nav-tablet)  { padding-top: $pad-tab }
  @include breakpoint($screen-nav-laptop)  { padding-top: $pad-lap }
  @include breakpoint(desktop) { padding-top: $pad-dsk }
}

.l-panel-last {
  padding-bottom: $pad-mob;
  @include breakpoint($screen-nav-tablet)  { padding-bottom: $pad-tab }
  @include breakpoint($screen-nav-laptop)  { padding-bottom: $pad-lap }
  @include breakpoint(desktop) { padding-bottom: $pad-dsk }
}

.l-page-intro {
  @include rule-bottom;
  background: $grey-home;
  background: url(../img/bg-hero-black.jpg) 50% 50% / cover no-repeat;
  color: $white;
  min-height: 200px !important;
  @include breakpoint($screen-nav-tablet){ min-height: 300px !important;}

  a {
    color: $white;
  }

  body.brokers & {
    background-image: url(../img/bg-hero-blue.jpg);
  }

  body.shippers & {
    background-image: url(../img/bg-hero-red.jpg);
  }

  body.carriers & {
    background-image: url(../img/bg-hero-yellow.jpg);
  }
    
  body.blog & {
    background-image: url(../img/bg-hero-white.jpg);  
  }
}

.l-req-demo {
  @include rule-top;

  body.request-demo & {
    border: none;
  }
}

.panel-cta-small {
  @include rule-top;
  @include rule-bottom;
  background: $grey-home;
  color: $white;
}

.table      { display: table; }
.table-row  { display: table-row; }
.table-cell { display: table-cell; }



// ========================================
// Two Column Grid, Fluid Height
// ========================================

.cols_2_l { // 2 col grid, left side
  width: 100%; 

  @include breakpoint(tablet) {
    float: left;
    width: 50%;
  }
}

.cols_2_r { // 2 col grid, right side
  width: 100%; 

  @include breakpoint(tablet) {
    float: right;
    width: 50%;
  }
}



// ========================================
// Three Column Grid, Fluid Height
// ========================================

.cols_3_1, .cols_3_2, .cols_3_3 { // 3 col grid
  width: 100%; 

  @include breakpoint(tablet) {
    float: left;
    width: percentage(1/3);
  }
}

.cols_3_66 { // 3 col grid, 2/3 (66%) of width
  width: 100%; 

  @include breakpoint(tablet) {
    float: left;
    width: percentage(2/3);
  }
}



// ========================================
// Feature & Icon Styles
// ========================================

.feature {
  margin-bottom: $pad-mob;
  overflow: hidden;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include breakpoint(tablet) {
    text-align: center;
    margin-bottom: 0;
  }

  &.cols_3_1 {
    @include breakpoint(tablet) {
      padding-right: $column-gap * 2/3;
    }
  }

  &.cols_3_2 {
    @include breakpoint(tablet) {
      padding-left:  $column-gap * 1/3;
      padding-right: $column-gap * 1/3;
    }
  }

  &.cols_3_3 {
    @include breakpoint(tablet) {
      padding-left: $column-gap * 2/3;
    }
  }
}

.feature-icon {
  float: left;
  width: 45px; height: 45px;

  @include breakpoint(tablet) {
    display: block;
    float: none;
    margin: 0 auto $column-gap/2;
    width: 60px; height: 60px;
  }

  @include breakpoint(laptop) {
    width: 70px; height: 70px;
  }
}

.feature-copy {
  margin-left: 60px;
  
  @include breakpoint(tablet) {
    margin-left: 0;
  }
}
