// Wireframing / Rules
//---------------------------------------------------------------
@mixin rule        { border: 1px $grey-light solid; }
@mixin rule-top    { border-top: 1px $grey-light solid; }
@mixin rule-left   { border-left: 1px $grey-light solid; }
@mixin rule-bottom { border-bottom: 1px $grey-light solid; }
@mixin rule-right  { border-right: 1px $grey-light solid; }

.rule        { @include rule; }
.rule-top    { @include rule-top; }
.rule-left   { @include rule-left; }
.rule-bottom { @include rule-bottom; }
.rule-right  { @include rule-right; }


// @include breakpoint
// via http://css-tricks.com/media-queries-sass-3-2-and-codekit/
//---------------------------------------------------------------
// Use: @include breakpoint(variable) { *styles here* }
//---------------------------------------------------------------
@mixin breakpoint($break-width) {
  @if $break-width == phone-md {
    @media (min-width: $screen-phone-md) { @content; }
  }
  @else if $break-width == phone-lg {
    @media (min-width: $screen-phone-lg) { @content; }
  }
  @else if $break-width == tablet {
    @media (min-width: $screen-tablet) { @content; }
  }
  @else if $break-width == laptop {
    @media (min-width: $screen-laptop) { @content; }
  }
  @else if $break-width == desktop {
    @media (min-width: $screen-desktop) { @content; }
  }
  @else {
    @media (min-width: $break-width) { @content; }
  }
}

// Mixin: button-transition
//---------------------------------------------------------------
@mixin button-transition {
  transition: background-color 0.2s,
              border-color 0.2s,
              color 0.2s,
              padding 0.2s;
}

// @include button-active
//---------------------------------------------------------------
@mixin button-active {
  transform: translate3d(0,1px,0);
}

// @include script
//---------------------------------------------------------------
@mixin script {
  font-family: $font-script;
  font-weight: normal; // needed for all script faces
}

// @include max-width
//---------------------------------------------------------------
@mixin max-width {
  max-width: $max-width;
  margin-left:  auto; // to center
  margin-right: auto; // to center
}

// @include nowrap
//---------------------------------------------------------------
@mixin nowrap {
  white-space: nowrap;
}
.nowrap { @include nowrap; }


// @include hide-text
//---------------------------------------------------------------
@mixin hide-text {
  font: 0/0 a !important;
  text-shadow: none !important;
  color: transparent !important;
}


// Remove margin & padding
//---------------------------------------------------------------
@mixin no-space {
  margin: 0; padding: 0;
}


// @include clearfix;
//---------------------------------------------------------------
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.clear {
  @include clearfix;
}


// Debugging
//---------------------------------------------------------------
@mixin test-border {
  border: 1px red solid;
  overflow: auto;
}
.test-border { @include test-border; }

@mixin test-bor($test-border-color) {
  border: 1px $test-border-color solid;
  overflow: auto;
}

@mixin test-bg {
  background-color: red;
}
