.spacer {
  width: 100%; 
  // padding-top to be added on specific panels
}

.button {
  @include button-transition;  
  background: none;
  border: $button-border $grey solid;
  color: $black; // default
  display: inline-block;
  height: $button-height - 5px;
  padding: 0 $button-padding-lr;
  text-align: center;
  text-transform: none;
  text-decoration: none;

  // Typography
  font-family: $font-sans;
  font-size: 13px;
  font-weight: $font-bold;
  line-height: $button-line-height - 5px;

  @include breakpoint(tablet) {
    font-size: 14px;
    height: $button-height;
    line-height: $button-line-height;
  }

  @include breakpoint(laptop) {
    font-size: 15px;
  }

  &:hover {

  }

  &:active {
    @include button-active;
  }
}


//---------------------------------------------------------
// ICONS
//---------------------------------------------------------
.icon {
  @include hide-text;
  display: inline-block;
  margin-right: $column-gap / 2;
  width: 25px; height: 25px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    @include button-active;
  }

  &.icon-email {
    background: url(../img/icon-mail.svg) 50% 50% / contain no-repeat;
  }

  &.icon-linkedin {
    background: url(../img/icon-linkedin.svg) 50% 50% / contain no-repeat;
  }
}
