//---------------------------------------------------------
// Screen Sizes
//---------------------------------------------------------
$screen-phone-sm:    320px;
$screen-phone-md:    375px;
$screen-phone-lg:    414px;
$screen-tablet:      668px;
$screen-laptop:      960px;
$screen-desktop:     1200px;
$screen-desktop-xl:  1600px;

$screen-nav-tablet:  870px;
$screen-nav-laptop: 1018px;

//---------------------------------------------------------
// Max site width
//---------------------------------------------------------
$max-width: 1440px;


//---------------------------------------------------------
// Scaffolding
//---------------------------------------------------------

// Navigation
$logo-ratio:          (400/112);
$logo-height-mob:     40px;
$logo-height-tab:     46px;
$logo-height-lap:     48px;
$logo-height-dsk:     $logo-height-lap;

$nav-pad-mob:         4px;
$nav-pad-tab:         10px;
$nav-pad-lap:         14px;
$nav-pad-dsk:         $nav-pad-lap;

$nav-height-mob:      $logo-height-mob + ($nav-pad-mob*2);
$nav-height-tab:      $logo-height-tab + ($nav-pad-tab*2);
$nav-height-lap:      $logo-height-lap + ($nav-pad-lap*2);
$nav-height-dsk:      $nav-height-lap;

$nav-height-mob-calc: $nav-height-mob * 2;

$nav-cta-width:       165px;


// Layout
$pad-mob: 5%;
$pad-tab: 8%;
$pad-lap: 15%;
$pad-dsk: 15%;

$pad-mob-top: $pad-mob / 2;
$pad-tab-top: $nav-height-tab;
$pad-lap-top: $nav-height-lap;
$pad-dsk-top: $nav-height-dsk;

$column-gap: 30px;


// Buttons
$button-height:      50px;
$button-border:      02px;
$button-padding-lr:  20px;
$button-line-height: $button-height - ($button-border * 2);


//---------------------------------------------------------
// Products Page
//---------------------------------------------------------
$prod-img-aspect:    698/1200; // height/width of PSD asset
$prod-img-laptop-w:  800px;     // width of img
$prod-img-laptop-h:  $prod-img-laptop-w * $prod-img-aspect;
$prod-img-desktop-w: 880px;     // width of img
$prod-img-desktop-h: $prod-img-desktop-w * $prod-img-aspect;
$prod-img-max-w:     950px;     // width of img
$prod-img-max-h:     $prod-img-max-w * $prod-img-aspect;
$prod-img-margin:    133/1200;  // width of margin / width of PSD asset


//---------------------------------------------------------
// Typography
//---------------------------------------------------------
//---------------------------------------------------------
// Variation    | font-family | font-weight | font-style
//---------------------------------------------------------
// Thin           "adelle"      100           normal  
// Thin Italic    "adelle"      100           italic  
// Light          "adelle"      300           normal  
// Light Italic   "adelle"      300           italic  
// Regular        "adelle"      400           normal  
// Italic         "adelle"      400           italic  

$font-sans:   'Helvetica Neue', arial, helvetica, sans-serif;
$font-serif:  'Adelle',serif;
$font-thin:    100; // for Thin Adelle
$font-light:   300; // for Light Adelle
$font-reg:     400; // for Regular Adelle & Helvetica Neue
$font-bold:    700; // for Bold Helvetica Neue
$font-regular: regular;
$font-italic:  italic;
