.projects{
	background-color: white;
	padding: 10px 0px;
	min-height: calc(100vh - 130px);

	.container{

		.project-card-container{
			padding:0;
		}

		@for $i from 1 to 10 {
			.project-card-container li:nth-child(#{$i}) {
				animation-delay: $i * 0.15s;
			}
		}

		.section-title{
			color: $black;
		}
		.col{
			padding: 20px 0px;
		}
	}
}



//-----------------------------------------------
// Project Card Styles
//-----------------------------------------------
.project-card{
	@include aspect-ratio(1,1.0667);
	max-width: 400px;
	display: block;
	margin: 25px auto;
	position: relative;
	border-radius: 3px;
	overflow:hidden;
	transition: all 0.4s ease-in-out;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);

	&:after{
		content:'';
		box-shadow: 0 5px 15px rgba(0,0,0,0.3);
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	@include breakpoint(tablet) {
		width: 300px;
	}

	img{
		width: 100%;
		z-index: 1;
		overflow: hidden;
		position: absolute;
		top:0;
		left:0;
		border-radius: 3px;
		background-clip: padding-box; 
		-webkit-background-clip: padding-box; 

	}
	.project-info{
		background: $white;
		z-index: 2;
		width: 100%;
		display: block;
		position: absolute;
		bottom: 0px;
		height: 70px; 
		opacity: 1;
		transition: all 0.3s ease-in-out;

		*{
			transition: all 0.5s ease-in-out 0.1s;
		}

		h2{
			color: $black;
			padding: 10px 15px;
			padding-top: 20px;
			margin: 0px;
			font-weight: $font-reg;
			font-size: 1.3rem;
		}

		p{
			color: $black;
			margin: 0;
			padding: 0 15px;
			font-weight: $font-light;
			font-size: 0.9rem;
			line-height: 1.5;
			opacity: 0;
			transform: translateY(10px);
		}

		.tag{
			position: absolute;
			right:0; top:0;
			display: block;
			height: 20px;
			width: auto;
			padding: 4px 10px;
			font-size: 12px;
			font-weight: $font-bold;
			color: $white;
			border-bottom-left-radius: 3px;
			opacity:0.6;
		}
	}
}

.project-card:hover{
	&:after{
		opacity: 1;
	}
	.project-info{
		height: 100px;
		opacity: 1;

		h2{
			padding-top: 13px;
		}

		p{
			opacity: 1;
			transform: translateY(0px);
		}

		.tag{
			opacity:0.9;
		}
	}
}



//-----------------------------------------------
// Project Card Tags
//-----------------------------------------------

.project-card.interaction{
	.project-info .tag {background: $red;}
	.tag::after {content:'IxD';}
}

.project-card.visual{
	.project-info .tag {background: $blue-alt;}
	.tag::after {content:'visual';}
}

.project-card.motion{
	.project-info .tag {background: $yellow-alt;}
	.tag::after {content:'motion';}
}

