.projects{
	background-color: $white;
	padding: 10px 0px;
	min-height: calc(100vh - 130px);

	.container{

		.project-card-container{
			padding:0;
		}

		@for $i from 1 to 10 {
			.project-card-container li:nth-child(#{$i}) { animation-delay: $i * 0.1s; }
		}

		.section-title{
			color: $black;
		}
		.col{
			padding: 20px 0px;
		}
	}
}

