@charset "UTF-8";

// Vendor
// ---------------------------------
@import "vendor/normalize";

// Components
// ---------------------------------
@import "components/variables";
@import "components/responsive";
@import "components/animation";

// Global
// ---------------------------------
@import "components/global";

.projects{
	background: $white;

//Floating NavBar
	.pr-topbar{
		height: 50px;
		background-color: rgba(27,39,55,0.8);
		width: 100%;
		position: fixed;
		top:0;
		left:0;
		display: none;
		box-shadow: 0 1px 2px rgba(0,0,0,0.15);

		@include breakpoint(tablet) {
			height: 50px;
		}

		.pr-navigate{
			.logo{
				width: 30px;
				height: 30px;
				padding: 10px;
				display: inline-block;
				opacity: 0.8;
				transition: all 0.2s ease-in-out;

				&:hover{
					opacity: 1;
					transform: scale(1.1);
				}
			}

			.pr-title{
				height: 100%;
				width: 100%;
				font-family: $font-sans;
				color: $white;
				font-size: 1rem;
				font-weight: $font-bold;
				text-align: center;
				padding: 15px;
				position:absolute;
				top:0;
				left:0;
				display: table;

				@include breakpoint(tablet) {
					font-size: 1.1rem;
				}

				span{
					display: table-cell;
					vertical-align: middle;
				}
			}
		}

		progress{
			position: absolute;
			bottom:0;
			left:0;
			height: 4px;
			width: 100%;
			appearance: none;
			border: none;
			background-color: transparent;
			color: $red;

			@include breakpoint(tablet) {
				height: 3px;
			}
		}

		progress::-webkit-progress-bar {
	  		background-color: transparent;
		}

		progress::-webkit-progress-value {
			background-color: $red;
		}

		progress::-moz-progress-bar {
			background-color: $red;
		}
	}
	
	// Top HEADER
	section.fixed-header{
		background: $blue;
		padding: 40px;

		.pr-header{
			height: 132px;
			width: 100%;

			.nav-container{
				display: table;
				width: 72px;
				margin: 0 auto;

				.logo{
					margin: 0 auto;
					padding: 30px 0;
					opacity: 0.8;
					height: 72px;
					display: inline-block;
					display: table-cell;
					transition: all 0.2s ease-in-out;

					&:hover{
						opacity: 1;
					}
				}
			}
		}

		.title{
			font-size: 1.4rem;
			font-family: $font-serif;
			font-weight: $font-reg;
			font-style: italic;
			text-align: center;
			color: $white;
			text-shadow: 0px 1px 0px $black;
			animation-delay: 0.2s;

			@include breakpoint(tablet) {
				font-size: 3rem;
			}
		}

		.tags{
			font-size: 1 rem;
			font-weight: $font-reg;
			text-align: center;
			margin-top: 40px;
			padding: 0;
			margin-bottom: 50px;
			color: $white;
			text-shadow: 0px 1px 0px $black;

			@include breakpoint(tablet) {
			    font-size: 1.3rem;
			}

			li{
				list-style: none;
				display: inline-block;
				width: auto;
				margin: 0 10px;
			}

			@for $i from 1 to 10 {
				li:nth-child(#{$i}) {
					animation-delay: 0.25s + ($i * 0.15s);
				}
			}
		}
	}

	.container{
	color: $black;
	padding-top: 30px;
	max-width: 800px;
	padding-bottom: 60px;

		h2{
			font-family: $font-sans;
			font-size: 1.8rem;
			margin: 25px 0 10px;
			padding: 0px;
			padding-left: 0px;
			text-align: left;
			color: $red;

			@include breakpoint(tablet) {
			    text-align: center;
			}
		}

		p, li{
			font-size: 1.4rem;
			font-family: $font-sans;
			line-height: 1.7;
			font-weight: $font-reg;
			list-style: none;
		}
		ol{
			padding-left: 20px;

			li{
				padding-top: 10px;
				position: relative;

				&:after{
					content:'~';
					position: absolute;
					top:10px;
					left:-20px;
					color: $red;
				}
			}
		}
		
		img{
			width: 100%;
			margin: 0px;

			@include breakpoint(tablet) {
				width: calc(100% - 30px);
			    margin: 15px;
			}
		}
	}

	footer{
		height: 100px;
		background: $red;
		display: block;
		position: relative;
		width: 100%;
		box-shadow: 0 -2px 2px rgba(0,0,0,0.15);


		.footer-button{
			position: absolute;
			height: 45px;
			width: 250px;
			top:0;bottom:0;left:0;right:0;
			margin: auto;
			text-align: center;
			font-size: 1.8rem;
			color: $white;
			text-decoration: none;
		}
	}
}