// Aspect Ratio
// -------------
// usage: @include aspect-ratio(16 9); constraints the div to a 16:9 ratio.

@mixin aspect-ratio($ratio: 1 1, $selector: '> :first-child') {
    $selector: unquote($selector);
    position: relative;

    &::before {
        display: block;
        content: '';
        width: 100%;
        padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
      }

    #{$selector} {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
	}
}

//// Video Embeds
@mixin video-embed($ratio: 16 9) {
    @include aspect-ratio($ratio, 'iframe');
    iframe {
        border: 0;
        height: 100%;
        width: 100%;
    }
}


@mixin p-color($name, $color: $black) {
    .#{$name} {
        .p-title {
            color: $color;
        }
    }
}
