<nav class="nav">

  <a class="nav-logo" href="/">FourKites</a>

  <ul class="nav-list">
    {{ nav from="/" exclude="about|request-demo|privacy|terms" }}
    <li><a class="nav-link{{ if page_url == url }} nav-here{{ endif }}" href="{{ url }}">{{ if nav_title }}{{ nav_title }}{{ else }}{{ title }}{{ /if }}</a></li>
    {{ /nav }}
    <li class="nav-link-login"><a class="nav-link" href="{{ link_login }}">Log In</a></li>
  </ul>

  <a class="nav-cta button" href="/request-demo">{{ req_demo_button|smartypants }}</a>

</nav>
