<section class="l-panel l-req-demo" id="demo">
  <div class="cols_2_l">
    {{ get_content from="globals" show_drafts="yes" }}
      <h1 class="h1 header-panel color">{{ req_demo_button|smartypants }}</h1>
      {{ if intro_demo }}<h2 class="h3">{{ intro_demo|smartypants|widont }}</h2>{{ /if }}

      {{ if phone }}
      <div class="demo-phone">
        {{ if call_us }}<h2 class="h4">{{ call_us|smartypants }}</h2>{{ /if }}
        <a class="h2" href="tel://1-{{ phone }}">{{ phone }}</a>
        {{ if hours }}<p class="hours">{{ hours|smartypants }}</p>{{ /if }}
      </div>
      {{ /if }}
    {{ /get_content }}
  </div>

  <div class="cols_2_r">
    <div class="demo-tabs {{ if segment_1 == "brokers" }}tab-2-visible{{ elseif segment_1 == "carriers" }}tab-3-visible{{ else }}tab-1-visible{{ /if }} fade">
      <nav class="tab-buttons">
        <a class="tab-button tab-button-1" href="#">Shippers</a>
        <a class="tab-button tab-button-2" href="#">Brokers</a>
        <a class="tab-button tab-button-3" href="#">Carriers</a>
      </nav>
      <div class="form-tab form-tab-1">
        {{ theme:partial src="forms/shipper-form" use_context="true" }}
      </div>
      <div class="form-tab form-tab-2">
        {{ theme:partial src="forms/broker-form" use_context="true" }}
      </div>
      <div class="form-tab form-tab-3">
        {{ theme:partial src="forms/carrier-form" use_context="true" }}
      </div>
    </div>
  </div>
</section>
