<footer>

    <div class="container">
        <h2>Thanks for stopping by!</h2>

        <p class="f-text">
            I love meeting new people! If you're curious about my work, want to learn more about me, or just want to grab coffee and chat, say hi.
        </p>
    </div>

    <div class="container">
        <a href="mailto:nikhilv.13@gmail.com" class="button email" target="_blank"><p class="center">Send me an email</p></a>
    </div>

    <div class="container social">
        <div class="s-icon">
            <a href="#" target="_blank"><object type="image/svg+xml" data="img/icons/s01-dribbble.svg"></object></a>
        </div>
        <div class="s-icon">
            <a href="https://linkedin.com/in/nvenk" target="_blank"><object type="image/svg+xml" data="img/icons/s02-linkedin.svg"></object></a>
        </div>
        <div class="s-icon">
            <a href="#" target="_blank"><object type="image/svg+xml" data="img/icons/s03-twitter.svg"></object></a>
        </div>
    </div>

</footer>
