<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">

<meta name="description" content="{{ meta2.desc }}">
<meta name="title" content="{{ meta2.title }}}">
<meta name="url" content="{{ meta.url }}">

<!-- ROBOTS -->
<meta name="googlebot" content="noindex, nofollow">
<meta name="robots" content="noindex, nofollow">

<!-- SOCIAL METAS -->
<meta property="og:description" content="{{ meta2.desc }}">
<meta property="og:image" content="{{ meta2.image }}">
<meta property="og:site_name" content="{{ meta.site }}">
<meta property="og:title" content="{{ meta2.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ meta.url }}">
{#
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://www.nvenk.com">
<meta name="twitter:title" content="Nikhil Venkatesh - UX Portfolio">
<meta name="twitter:description" content="I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.">
<meta name="twitter:image" content="/"> <!-- CHANGE IMAGE PATH HERE --> #}
