<pre class="nametag">
    <div class="container">
        <a href="/"><h6 class="fade-in">Nikhil Venkatesh<span class="divider hidden-phone">&nbsp;</span><span class="title hidden-phone">Product Designer</span></h6></a>
    </div>
</pre>
