<nav id="nav">
    <div class="nav-trigger">
        Menu
        <span aria-hidden="true"></span>
    </div>

    <div class="nav-menu">
        <a href="/" class="home-link"><li>Home</li></a>
        <a href="/about.html"><li>About</li></a>
        <a href="/#projects"><li>Work</li></a>
        <a href="/#gallery"><li>Galleries</li></a>
        {# <a href="/files/NikhilVenkatesh_Resume_Apr2017.pdf.pdf" target="_blank"><li>Resume</li></a> #}
    </div>

    <div class="nav-menu-static">
        <a href="/" class="home-link"><li>Home</li></a>
        <a href="/about.html"><li>About</li></a>
        <a href="/#projects"><li>Work</li></a>
        <a href="/#gallery"><li>Galleries</li></a>
        {# <a href="/files/NikhilVenkatesh_Resume_Apr2017.pdf.pdf" target="_blank"><li>Resume</li></a> #}
    </div>
</nav>
