.projects{
	footer{
		.footer-navigate{
			background-color: $blue;
			padding: 40px 0;

			.container{
				height: 100px;
				display: block;
				padding: 30px;

				.home-icon-container{
					display: inline-block;
					width: 100px;
					padding:10px 25px 0;
					max-width: 100px;
					vertical-align: middle;

					a{
						margin: 0 auto;
						display: block;
						height: 100%;
						width: 64px;

						.grid{
							height: 64px;
							width: 64px;
							padding-top: 8px;
							overflow: visible;
							fill: $white;

							*{
								transition: 0.3s all ease-in-out;
							}

							&:hover{
								.box1{
									transform: translate(50px, -75px) rotate(25deg);
									fill: $red;
								}
								.box2{
									transform: translate(-15px, 15px);
								}
								.box3{
									transform: translate(15px, -15px);
								}
								.box4{
									transform: translate(-15px, -15px);
								}
							}
						}
					}
				}

				.navigate-next{
					display: inline-block;
					width: calc(100% - 250px);
					padding: 10px 0 0 50px;
					color: $white;
					vertical-align: middle;
					a{
						text-decoration: none;
						display: block;

						h3{
							font-family: $font-sans;
							color: $white;
							font-size: 1.4rem;
							font-weight: $font-reg;
							margin:0;
							padding:0;
							text-shadow: 0px 1px 0px rgba(0,0,0,0.15);
							transition: 0.3s transform ease-in-out;
							transition-delay: 0.05s;
						}

						h4{
							color: $red;	
							font-size: 1.6rem;
							padding: 0;
							margin: 10px 0 0;
							transition: 0.4s transform ease-in-out;
						}

						&:hover{
							h3{
								transform: translateX(5px);
							}
							h4{
								transform: translateX(10px);
							}
						}
					}
				}
			}
		}
		.footer-social{
			background: $white;
			display: block;
			position: relative;
			width: 100%;
			@extend .border-top;

			.container{
				padding-bottom: 30px;

				.social-container{
					li {
						padding: 0 20px;
						a{
							height: 32px;
							width: 32px;
						}
					}
				}
			}
		}
	}
}