//-----------------------------------------------
// Project Card Styles
//-----------------------------------------------


.project-card{
	@include aspect-ratio(1,1.0667);
	max-width: 400px;
	display: block;
	margin: 25px auto;
	position: relative;
	border-radius: 4px;
	overflow:hidden;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);

	@include breakpoint(tablet) {
		width: 300px;
	}

	img{
		width: 100%;
		z-index: 1;
		overflow: hidden;
		position: absolute;
		top:0;
		left:0;
		border-radius: 4px;
		border-top: 1px solid rgba(255,255,255,0.2);
		border-left: 1px solid rgba(255,255,255,0.1);
	}


	.project-info{
		background: $white;
		z-index: 2;
		width: 100%;
		display: block;
		position: absolute;
		bottom: 0px;
		height: 70px; 
		opacity: 0.9;
		transition: all 0.3s ease-in-out;
		box-shadow: 0px 5px 50px #555;

		*{
			transition: all 0.5s ease-in-out;
		}

		h2{
			color: $black;
			padding: 10px 15px;
			padding-top: 20px;
			margin: 0px;
			font-weight: $font-reg;
			font-size: 1.3rem;
			transition-delay: 0.1s;
		}

		p{
			color: $black;
			margin: 0;
			padding: 0 15px;
			font-weight: $font-light;
			font-size: 0.9rem;
			line-height: 1.5;
			opacity: 0;
			transform: translateY(10px);
			transition-delay: 0.15s;
		}

		.tag{
			position: absolute;
			right:0; top:0;
			display: block;
			height: 20px;
			width: auto;
			padding: 4px 10px;
			font-size: 12px;
			color: $white;
			border-bottom-left-radius: 3px;
			opacity:0.4;
		}
	}
}

.project-card:hover{
	.project-info{
		height: 100px;
		opacity: 1;

		h2{
			padding-top: 13px;
		}

		p{
			opacity: 1;
			transform: translateY(0px);
		}

		.tag{
			opacity:0.8;
		}
	}
}



//-----------------------------------------------
// Project Card Tags
//-----------------------------------------------

.project-card.interaction{
	.project-info .tag {background: $red;}
	.tag::after {content:'IxD';}
}

.project-card.visual{
	.project-info .tag {background: $blue-alt;}
	.tag::after {content:'visual';}
}

.project-card.motion{
	.project-info .tag {background: $yellow-alt;}
	.tag::after {content:'motion';}
}

