.projects{
	background-color: $black;
	padding-top: 10px;
	min-height: calc(100% - 150px);

	.container{
		.project-card-container{
			padding:0;
		}
		.section-title{
			color: $white;
		}
		.col{
			padding: 20px 0px;
		}
	}
}