{% extends "layout.njk" %}


{# Variables --------------- #}
{% set var = {
        styles: 'css/styles.css',
        scripts: 'scripts/scripts.js',
        bodyClass: 'home'
}%}

{% set meta2 = {
        title: 'Nikhil Venkatesh | Product Designer',
        desc: 'I\'m a Product Designer and Animator from San Francisco. I am passionate about telling stories visually and believe that a little bit of delight in design goes a long way!',
        image: 'http://nvenk.com/img/about/profile.jpg'
}%}




{# Page Content --------------- #}
{% block content %}

{{ macro.aboutStack() }}

{# <section class="container quote">
    <ul class="skill-icons">
        <li class="icon">
            <object type="image/svg+xml" data="img/icons/001-design.svg">
            </object>
        </li>
        <li class="icon">
            <object type="image/svg+xml" data="img/icons/001-animate.svg">
            </object>
        </li>
        <li class="icon">
            <object type="image/svg+xml" data="img/icons/001-code.svg">
            </object>
        </li>
        <li class="icon">
            <object type="image/svg+xml" data="img/icons/001-build.svg">
            </object>
        </li>
    </ul>
    <div class="q-text">"Choose a job you love, and you will never have to work a day in your life" </div><div class="q-by">Conficius</div>
</section> #}

{% for project in projects %}
    {{ macro.project(project.name,
                    project.title,
                    project.tag,
                    project.url
                    ) }}
{% endfor %}

{% endblock %}




{# Page Specific Scripts ------ #}
{% block scripts %}

$(window).on('load',function() {
    // Hero Image
    var fadeTween = TweenMax.fromTo('.hero',
                                    1,
                                    { opacity: 0.6 },
                                    { opacity: 0 });
    var heroScene = new ScrollMagic.Scene({ duration: 350 })
                                            .setTween(fadeTween)
                                            .addTo(primeCtrl);
    if(DEBUG) heroScene.addIndicators({ name:"Fade Hero" });

    // Skill Icons Stagger
    var skillTween = TweenMax.staggerFromTo(".skill-icons .icon",
                                            0.5,
                                            { opacity: 0, y: -60 },
                                            { opacity: 1, y: 0 },
                                            0.15 );
    var skillScene = new ScrollMagic.Scene({ triggerElement: '.skill-icons',
                                            //  reverse: false,
                                             duration: 150 })
                                             .setTween(skillTween)
                                             .addTo(primeCtrl);
    if(DEBUG) skillScene.addIndicators({ name:"Fade Icons" });

});

{% endblock %}
