{% extends "p-layout.njk" %}


{# Variables --------------- #}
{% set var = {
        styles: 'css/styles.css',
        scripts: 'scripts/scripts.js',
        bodyClass: 'sim'
}%}

{% set meta2 = {
        title: 'Nikhil Venkatesh | Product Designer',
        desc: 'I\'m a Product Designer and Animator from San Francisco. I am passionate about telling stories visually and believe that a little bit of delight in design goes a long way!',
        image: 'http://nvenk.com/img/about/profile.jpg'
}%}




{# Page Content --------------- #}
{% block p_content %}


{% endblock %}




{# Page Specific Scripts ------ #}
{% block scripts %}

{% endblock %}
