.blog{
    .fade-delay-4 {
        &.v{animation-delay: 0.4s;}
    }   

    .fade-delay-6 {
        &.v{animation-delay: 0.6s;}
    }   

    .blog-listing.l-panel{
        padding: $pad-tab;
        padding-top: 40px;
        padding-bottom: 20px;
        overflow: hidden;
        background-color: transparent;
    }

    .blog-cat-contain {
        background: $white;
        box-shadow: 0px 1px 8px 0px rgba($black,0.25);
        margin: 0 auto;
        overflow: hidden;
        height: auto;
        width: 100%;
        top: 0; left: 0;
        z-index: 1;

        a {
            font-family: $font-serif;
            font-size: 12px;
            font-weight: $font-reg;
            font-style: italic;
            @include breakpoint(phone-lg){font-size: 13px;}
            @include breakpoint(tablet){font-size: 14px;}
        }

        .cat-nav {
            @include rule-top;
            display: block;
            height: 48px;
            overflow: hidden; // clearfix
            text-align: center;
            width: 100%;

            > li {
                display: inline-block;
                margin: 0 $nav-pad-mob;

                @include breakpoint($screen-nav-tablet) {margin: 0 $nav-pad-tab;}

                .cat-active{
                    color: $red;
                }
            }

            a {
                color: $black;
                display: block;
                height: 48px;
                line-height: 48px;
                text-decoration: none;
            }

            @include breakpoint($screen-nav-tablet) {
                border: none; // override rule-top
                display: inline-block;
                float: right;
                height: 48px;
                margin-right: $pad-tab;
                width: auto;
            }
        }

        a.cat-nav-link {
        position: relative;

            &:hover{
              color: $red;
            }
        }
    }

    .blog-listing{

        .no-entries{
            line-height: 48px;
            margin-top: 100px;
        }

        a{
            text-decoration: none;
            color: $red;
        }

        a:hover{text-decoration: underline;}

        .blog-title{
            margin: 15px 0px 10px 0px;
            text-align: left;
        }

        .h5 {
            text-align: left;
        }

        .blog-date{font-weight: $font-reg;}

        .blog-summary{
            padding-left: 15px;
            font-family: $font-sans;
            font-weight: $font-reg;
            text-align: justify;
            line-height: 24px;
        }

        .button{
            transition: 0.1 all;
            float: right;
            background-color: $red;
            color: $white;
            border-color: $red;
            margin: 15px 5px 15px 0px;
        }

        .button:hover{
            text-decoration: none;
            background-color: $white;
            color: $red;
        }
    }

    .blog-pagination{
        text-align: center;
    
        .page-older, .page-newer{
            display: inline-block;
            a{
                text-decoration: none;
                padding: 0px 20px;
                color: $red;
            }

            a:hover{
                color: $black;
                text-decoration: underline;
            }

            @include breakpoint(phone-lg){padding-bottom:50px;}
        }
    }
}


//-----------------------------------
// Blog Entries Styling
//-----------------------------------

.blog-entries{
    .l-blog-intro {
        @include rule-bottom;
        background: $grey-home;
        background: url(../img/bg-hero-white.jpg) 50% 50% / cover no-repeat;
        color: $white;
        min-height: 200px !important;
        @include breakpoint(tablet){ min-height: 300px !important;}

        a {color: $white;}

        .title{
            font-size: 32px;
            padding-top: 50px;
            @include breakpoint($screen-nav-tablet){font-size: 42px;}
            @include breakpoint($screen-nav-laptop){padding-top: 30px;}
        }

        .date{
            &.v{animation-delay: 0.4s;}
            padding-top: 20px;
        }
    }

    .blog-panel{
        background: $white;
        padding: $pad-mob;
        position: relative;
        overflow: hidden; // clearfix 
        clear: both; // also clearfix, need both

        @include breakpoint($screen-nav-tablet)  { padding: $pad-tab-top $pad-tab; }
        @include breakpoint($screen-nav-laptop)  { padding: $pad-lap-top $pad-lap/1.5; }
    }

    .post-content{
        p{
            line-height: 28px;
            text-align: justify;
        }

        img{
            padding: 8px;
        }

        iframe{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}