@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes nav-fade-in {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pop{
    0%{
        transform: scale(0);
    }

    10%{
        transform: scale(1.4);
    }

    25%{
        transform: scale(.6);
    }

    60%{
        transform: scale(1.2);
    }

    80%{
        transform: scale(.9);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes slideInFromLeft {
    0%{
        transform: translateX(-30px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0%{
        transform: translateX(30px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

%fade-in {
    animation: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: .4s;
}
