
// Button - Link on Desktop
.button {
    margin: 30px auto;
    display: inline-block;
    width: auto;
    transition: .4s all ease-in-out;
    height: 100%;
    transform-origin: left;

    @include breakpoint(tablet) {
        margin: 0 auto;
    }

    p {
        padding: 16px 20px;
        border-radius: 4px;
        border: 1px solid $primary;
        color: $gray;
        text-transform: uppercase;
        letter-spacing: 1.5px;

        &:hover {
            color: $white;
            background: $primary;
        }

        &:active {
            background: darken($primary, 6%);
            color: $white;
        }

        &.center::after {
            transform-origin: center;
        }
    }
}

.f-email {
    text-align: center;
    display: block;
}

footer {
    @extend %black-gradient;
    min-height: 400px;
    width: 100%;
    padding: 100px 0;
    margin-top: 100px;

    h2 {
        color: $white;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }

    .f-text {
        color: $gray;
        font-size: 1.1em;
        opacity: .7;
        line-height: 1.8;
        text-align: center;
        max-width: 500px;
        margin: 20px auto;
    }
}

.social {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    max-width: 500px;
    margin-top: 30px;
    padding: 30px;
}

.s-icon {
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    position: relative;

    @include breakpoint(tablet) {
        padding: 40px;
    }

    a {
        display: block;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: $primary;
            transform-origin: center;
            // transition: .2s transform $easing-d;
            transform: scaleX(0);
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }

    object {
        width: 36px;
        pointer-events: none;

        @include breakpoint(tablet) {
            width: 48px;
        }
    }
}
