// footer{
//     @extend %black-gradient;
//     height: 40%;
//     display: flex;
//     justify-content: center;
//     flex-flow: column;
//     padding: 120px 0;
//     opacity: 1;
//     z-index: -99;
//     align-items: center;
//
// 	.email-container{
// 		padding-bottom: 40px;
// 	}
//
//     .email{
//         color: $white;
//         font-size: 1.8em;
//         font-family: $heading;
//         font-weight: $thin;
//         text-align: center;
//         width: 100%;
//         position: relative;
//
//         &::before{
//             content: '';
//             position: absolute;
//             left: 0;
//             bottom: -10px;
//             width: 100%;
//             height: 2px;
//             background: $white;
//             transform: scaleX(0);
//             transition: .3s all ease-in-out;
//
//         }
//
//         &:hover{
//             color: $primary;
//
//             &::before{
//                 transform: scaleX(1);
//             }
//         }
//     }
//
//     .social-container{
//         padding-bottom: 40px;
// 		display: flex;
// 	    justify-content: space-between;
// 	    max-width: 280px;
//         min-width: 280px;
// 	    width: 280px;
//
// 		.footer-social-link{
// 			display: block;
// 			width: 48px;
// 			height: 48px;
// 			opacity: 1;
// 			transition: all .3s cubic-bezier(.33, .01, .06, 1);
// 			border-radius: 10px;
//
// 			&:hover{
// 				transform: scale(1.3);
//
// 				.bg{
// 					fill: rgba($black, 0);
// 					stroke-dashoffset: 4000;
// 					stroke: $primary;
// 				}
//
// 				.icon{
// 					fill: $primary;
// 				}
// 			}
// 		}
//
// 		svg{
// 			padding: 5px;
// 			transition: all .3s ease-in-out;
// 			position: relative;
// 			left: -5px;
// 			top: -5px;
//
// 			*{
// 				transition: all .6s cubic-bezier(.23, .29, .45, 1);
// 			}
//
// 			.bg{
// 				stroke-dasharray: 2000;
// 				stroke-dashoffset: 2000;
// 				stroke-width: 20;
// 			}
//
// 			.icon{
// 				fill: $white;
// 			}
// 		}
// 		// LinkedIn
// 		.li{
// 			.bg{
// 				fill: $linkedin;
// 				stroke: $linkedin;
// 			}
// 		}
//
// 		// Twitter
// 		.tw{
// 			.bg{
// 				fill: $twitter;
// 				stroke: $twitter;
// 			}
// 		}
//
// 		// Dribbble
// 		.db{
// 			.bg{
// 				fill: $dribbble;
// 				stroke: $dribbble;
// 			}
// 		}
//
// 		// 500PX
// 		// .p500{
// 		// 	.bg{
// 		// 		fill: $px500;
// 		// 		stroke: $px500;
// 		// 	}
// 		// }
//     }
// }


// Button - Link on Desktop
.button {
    margin: 30px auto;
    display: inline-block;
    width: auto;
    transition: .4s all ease-in-out;
    height: 100%;
    transform-origin: left;

    @include breakpoint(tablet) {
        margin: 0 auto;
    }

    p {
        padding: 16px 20px;
        border-radius: 4px;
        border: 1px solid $primary;
        color: $gray;
        text-transform: uppercase;
        letter-spacing: 1.5px;

        &:hover {
            color: $white;
            background: $primary;
        }

        &:hover::after {
            transform: scaleX(0);
        }

        &:active {
            background: darken($primary, 6%);
            color: $white;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -8px;
            height: 2px;
            width: 100%;
            border-radius: 2px;
            background: $primary;
            transform: scaleX(0);
            transform-origin: left;
            transition: .2s all ease-in-out;
        }

        &.center::after {
            transform-origin: center;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }
}

.f-email {
    text-align: center;
    display: block;
}

footer {
    @extend %black-gradient;
    min-height: 400px;
    width: 100%;
    padding: 100px 0;

    h2 {
        color: $white;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }

    .f-text {
        color: $gray;
        font-size: 1.1em;
        opacity: .7;
        line-height: 1.8;
        text-align: center;
        max-width: 500px;
        margin: 20px auto;
    }
}

.social {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    max-width: 500px;
    margin-top: 30px;
    padding: 30px;
}

.s-icon {
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    position: relative;

    @include breakpoint(tablet) {
        padding: 40px;
    }

    a {
        display: block;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: $primary;
            transform-origin: center;
            // transition: .2s transform $easing-d;
            transform: scaleX(0);
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }

    object {
        width: 36px;
        pointer-events: none;

        @include breakpoint(tablet){
            width: 48px;
        }
    }
}
