<header class="l-panel l-page-intro">
  <h1 class="t-small-head">{{ title }}</h1>
  <h2 class="h1">{{ page_intro|smartypants|widont }}</h2>
</header>

<section class="l-panel">
  <h2 class="h2 header-panel">Sitemap</h2>

  <ul class="sitemap-404">
    <li><a class="" href="/">Home</a></li>
    {{ nav from="/" exclude="" }}
    <li><a class="" href="{{ url }}">{{ if nav_title }}{{ nav_title }}{{ else }}{{ title }}{{ /if }}</a></li>
    {{ /nav }}
    <li><a class="" href="{{ link_login }}">Log In</a></li>
  </ul>
</section>
