<header class="l-panel l-page-intro">
  <div class="fade">
    <h1 class="t-small-head">{{ title }}</h1>
    <h2 class="h1">{{ page_intro|smartypants|widont }}</h2>
  </div>
</header>

<section class="l-panel about-overview">
  <h2 class="h2 header-panel">{{ tagline|smartypants|widont }}</h2>

  {{ about_us_set }}
  <div class="feature cols_3_{{index}} fade">
    <img class="feature-icon" alt="{{ about_principle|smartypants }} Icon" src="{{ about_icon_src }}">
    <div class="feature-copy">
      <h3>{{ about_principle }}</h3>
      {{ if about_copy }}
      <p>{{ about_copy|smartypants|widont }}</p>
      {{ /if }}
    </div>
  </div>
  {{ /about_us_set }}
</section>

<section class="l-panel team-members">
  <h2 class="h2 header-panel">{{ team_header|smartypants|widont }}</h2>

  {{ team_set }}
  <div class="wrapper">
    <div class="member-info">
      <img src="{{ transform src="{{ member_photo }}" width="600" height="600" action="smart" quality="95" }}" />
      <h3 class="h3">{{ member_name|smartypants }}</h3>
      <h4 class="t-small">{{ member_title|smartypants }}</h4>
      {{ if member_linkedin }}<a class="icon icon-linkedin" href="{{ member_linkedin }}">LinkedIn</a>{{ /if }}{{ if member_email }}<a class="icon icon-email" href="mailto:{{ member_email|obfuscate }}">Email</a>{{ /if }}
    </div>

    <div class="member-bio">
      {{ member_bio|smartypants|widont }}
      <a href="" class="expand"></a>
    </div>
  </div>
  {{ /team_set }}
</section>

<section class="l-panel investors">
  <h2 class="h2 header-panel">{{ investors_header|smartypants|widont }}</h2>

  {{ investors_set }}
    <img class="investor-logo" src="{{ transform src="{{ investor_src }}" height="100" greyscale="yes" }}" alt="{{ investor_alt|smartypants }}">
  {{ /investors_set }}
</section>
