<header class="l-panel home-intro">
  <div class="spacer"></div>
  <div class="home-copy fade">
    <div class="table"><div class="table-cell">
      <h1 class="h1">{{ page_intro|smartypants }}</h1>
      <a class="button" href="/request-demo">{{ req_demo_button|smartypants }}</a>
    </div></div>
  </div>
</header>

{{ if subhead }}
<section class="l-panel home-subhead">
  <h2 class="h2 fade">{{ subhead|smartypants|widont }}</h2>
</section>
{{ /if }}

{{ if shippers_claim_1 and shippers_claim_2 }}
<section class="l-panel home-customer home-shippers">
  <div class="home-copy fade">
    <div class="table"><div class="table-cell">
      <small class="t-small-head">For Shippers</small>
      <h2 class="claim-1 h2">{{ shippers_claim_1|smartypants|widont }}</h2>
      <p class="claim-2 h2">{{ shippers_claim_2|smartypants|widont }}</p>
      <a class="button" href="/shippers">Here’s how</a>
    </div></div>
  </div>
  <div class="spacer"></div>
</section>
{{ /if }}

{{ if brokers_claim_1 and brokers_claim_2 }}
<section class="l-panel home-customer home-brokers">
  <div class="home-copy fade">
    <div class="table"><div class="table-cell">
      <small class="t-small-head">For Brokers</small>
      <h2 class="claim-1 h2">{{ brokers_claim_1|smartypants|widont }}</h2>
      <p class="claim-2 h2">{{ brokers_claim_2|smartypants|widont }}</p>
      <a class="button" href="/brokers">Here’s how</a>
    </div></div>
  </div>
  <div class="spacer"></div>
</section>
{{ /if }}

{{ if carriers_claim_1 and carriers_claim_2 }}
<section class="l-panel l-panel-last home-customer home-carriers">
  <div class="home-copy fade">
    <div class="table"><div class="table-cell">
      <small class="t-small-head">For Carriers</small>
      <h2 class="claim-1 h2">{{ carriers_claim_1|smartypants|widont }}</h2>
      <p class="claim-2 h2">{{ carriers_claim_2|smartypants|widont }}</p>
      <a class="button" href="/carriers">Here’s how</a>
    </div></div>
  </div>
  <div class="spacer"></div>
</section>
{{ /if }}