{{ get_content from="/"}}
  <url>
    <loc>{{ _site_url }}</loc>
    <lastmod>{{ current_date format="Y-m-d" }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
{{ /get_content }}
{{ pages:listing folder="/"}}
  {{ if _template != "home" && _layout != "404" && _template != "sitemap" }}
  <url>
    <loc>{{ _site_url }}{{ url }}</loc>
    <lastmod>{{ last_modified format="Y-m-d" }}</lastmod>
    <changefreq>{{ if xml_changefreq }}{{ xml_changefreq }}{{ else }}monthly{{ /if }}</changefreq>
    <priority>{{ if xml_priority }}{{ xml_priority }}{{ else }}0.8{{ /if }}</priority>
  </url>
  {{ /if }}
{{ /pages:listing }}
