{% extends "layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/home.css',
        scripts: 'scripts/all.js',
        bodyClass: 'about'
}%}
{% set meta2 = {
        title: 'Nikhil Venkatesh | Product Designer',
        desc: 'I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{# ----- Content ----- #}
{% block content %}

{% include "partials/nametag.njk" %}

<section id="about">
    <div class="about-container container flex-grid">
        <div class="fg--cell about-info">
                <div class="heading">Hi!</div>
                <h1>I'm <em>Nikhil,</em></h1>
                <h3>A <em>Designer</em> and <em>Animator</em> based out of Seattle. I am passionate about telling stories visually and believe that a little bit of delight in design goes a long way! </h3>
                <div class="button-container">
                    <a href="about.html" class="trigger--about">More About Me</a>
                </div>
        </div>
        <div class="fg--cell about-image">
            <img class="image-me" src="img/about/poly_me_8bit.png" alt="">
        </div>
    </div>
</section>

<section class="profile-img-container">
    <div class="profile-image">
        <img src="img/about/profile.jpg" alt="Nikhil is smiling in this picture" />
    </div>
</section>

<section class="text container">
    <p class="name">Hi, I'm <em>Nikhil</em></p>
    <p>I’m a <em>designer</em> and <em>animator</em>, based out of the beautiful pacific northwest.</p>

    <p>Born in India in 1989, I’ve had a passion for animation as long as I can remember. That passion turned into a career animating dragons, mutant turtles and a cat wearing boots!</p>

    <p>Along the way, I was drawn by the amazing things that code can do and taught myself how to build websites. I started working as a freelancer, eventually leading me to discover the wonderful world of UX.</p>

    <p>I'm always trying to blur the lines these three sides, thinking about how to use animation to design better experiences, and figuring out how to actually build these experiences with code.</p>

    <p>Right now, I've just earned my <span class="sm">(second)</span> Masters degree, this time in <em>Human Centered Design & Engineering</em> from the University of Washington. I met some incredible people, designed awesome experiences and built a robot!</p>
</section>

<div class="spacer"></div>

<section class="container">
    <p class="name">My absolute favorite <em>design tools</em></p>

    <div class="apps-i-use">
        <div class="row">
            <img src="img/about/design_sketch.png" alt="sketch app" />
            <img src="img/about/design_framer.png" alt="framer studio" />
        </div>
        <div class="row">
            <img src="img/about/design_pen_paper.png" alt="pen and paper" />
            <img src="img/about/design_invision.png" alt="invision" />
        </div>
        <div class="row">
            <img src="img/about/design_code.png" alt="html css and js" />
            <img src="img/about/design_ae.png" alt="adobe after effects" />
        </div>
    </div>
</section>

<div class="spacer"></div>

<section class="text container">
    <p class="name">When I'm not doing design things</p>
    <ul class="things">
        <li>I’m reading about the latest and greatest in tech stuff</li>
        <li>I'm wearing people out by talking about animation</li>
        <li>I’m watching TV shows and movies</li>
        <li>I’m spending time with my wife and our cameras</li>
        <li>I’m DIY-ing something cool</li>
        <li>I’m <span class="scratch">playing</span> trying to play my guitar</li>
        <li>I’m planning my next vacation</li>
        <li>I’m trying to figure out the universe... <span class="sm">(really)</span></li>
    </ul>
</section>

<section class="resume container">
    <p class="name">Interested in my professional journey?</p>
    <a href="/files/NikhilVenkatesh_Resume_productDesign_Apr2017.pdf" target="_blank"><div class="button-resume">Download my resumé</div></a>
</section>

{# -- Vendor Scripts -- #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% endblock %}
