{% extends "layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/home.css',
        scripts: 'js/scripts.js',
        title: 'Hello, World!',
        bodyClass: 'about'
}%}
{% set meta2 = {
        title: 'Hello World',
        desc: 'I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{# ----- Content ----- #}
{% block content %}

<header id="about">
    <div class="container">
        <div class="info">
                <h1>Nikhil Venkatesh</h1>
                <h3>Design - Animate - Code</h3>
                <div class="button-container">
                    <a href="about.html" class="trigger--about">Read More</a>
                </div>
        </div>
        <div class="image">
            <div class="image-container"></div>
        </div>
    </div>
</header>

{# -- Vendor Scripts -- #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% endblock %}
