{% extends "layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/project.css',
        scripts: 'scripts/main.js',
        bodyClass: 'central'
}%}

{% set meta2 = {
        title: 'Nikhil | Central Cinema',
        desc: 'I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{# ----- Content ----- #}
{% block content %}

{% include "partials/nametag.njk" %}
<header id="central" class="r">
    <div class="feature-container">
        <div class="feature-desc">
            <h1>Central Cinema</h1>
            <h3>Redesigning the ticket booking experience for a theatre.</h3>
            <div class="button-container"></div>
        </div>

        <div class="feature-image">
            <div class="image-container">
                <picture>
                    <img src="img/central/feature.jpg" alt="" class="soft-shadow" />
                </picture>
            </div>
        </div>
    </div>
</header>

<section class="content" id="intro">
    <div class="flex-grid container">
        <div class="fg--cell content--text center">
            <p>We've all seen some incredible movies that were released years ago and wished we could watch them again on the big screen. This is exactly what Central Cinema is all about. Located in Seattle's Central District, Central Cinema was a neighborhood "beer-theatre". As you entered the venue, you are hit with a sense of nostaliga - from the decor and the posters of cult classics on the walls, to the movies that are showing on the big screen!</p>

            <p>While the service they offer is enticing, their website doesn't quite reflect the Central Cinema experience. We took this as an opportunity and set out to design their new website.</p>

            <p>I was the <em>primary designer</em> on the team. While my main responsibilities were <em>UX design, visual design and prototyping</em>, we all assisted in every phase of the project.</p>
        </div>
        <div class="fg--cell buffer"></div>
    </div>
</section>

<section class="content background-image" id="scope">
    <img src="img/central/scope.jpg" alt="" />
        <div class="container text">
            <div>
                <p>Before jumping in, we wanted to understand the business, identify the business goals and define our scope.</p>

                <p>We met Kevin, the owner to talk about why he runs the business, what his motivations are, and what he would like to get out of this redesign.</p>

                <p>We quickly identified his primary pain point - he couldn't predict how many people were going to show up for a particular show. Most customers bought their tickets at the gate.</p>
            </div>
        </div>
</section>

<section class="content alt" id="users">
    <p class="heading-1 container">The Users</p>
    <div class="flex-grid container">
        <div class="fg--cell content--text center">
            <p>Talking to Kevin gave us some great insights and ideas to improve his business, but we still didn't know what the customers wanted. Why weren't they booking tickets online? Do they even use the website? What could we do to encourage people to use the website?</p>
            <p>To answer our questions, we followed many different methods:</p>
            <ul class="content--list">
                <li><em>Interviews and Surveys</em> with employees and customers helped us understand business operations and customer patterns. We were able to understand what types of customers frequented the establishment, why they used the website, and where the current website failed them.</li>

                <li>A <em>Competitive Analysis</em> helped us understand what other successful businesses were doing right. It helped us understand what users needed in a theatre website, and what user flows made sense.</li>

                <li>A <em>Heuristic Evaluation</em> of the current Central Cinema website helped us understand everything that was wrong with it. We used this to understand what parts of the website needed work and this helped us define the next steps in the design process.</li>
            </ul>
        </div>
        <div class="fg--cell--custom">
            <picture class="content-image">
                <img src="img/central/cc_existing.png" alt="Existing Central Cinema Website" />
                <div class="picture-tag">Central Cinema's current website</div>
            </picture>
        </div>
    </div>
</section>

<section class="content" id="personas">
    <p class="heading-1 container">Organizing the Content</p>
    <div class="flex-grid container">
        <div class="fg--cell content--text center">
            <p>Some things were immediately clear. The website definitely needed better navigation and content organization. Customers found the ticket booking experience clunky and confusing, and many of them had <em>given up</em> after trying to book tickets online.</p>

            <p>To solve for the information architecture problem, we conducted a card sort. We used <em>Optimal Sort</em>, an online card sorting tool that the users could access from home. This helped us get to Central Cinema's actual customers, and get much more participants in a really short span of time.</p>

            <p class="hidden-mobile hidden-tablet">Since Central Cinema was a very small local business, we didn't have access to as many actual customers as we liked. We didn't want our design to wander, so we created two <em>personas to help us stay aligned</em> to the type of customers who come to Central Cinema.</p>
        </div>

        <div class="fg--cell--custom">
            <picture class="content-image">
                <img src="img/central/persona.jpg" alt="Central Cinema Personas" />
                <div class="picture-tag">Personas helped us stay focused on the user without actually talking to them.</div>
            </picture>
        </div>
    </div>
    <div class="flex-grid container visible-mobile visible-tablet">
        <div class="fg--cell content--text center">
            <p>Since Central Cinema was a very small local business, we didn't have access to as many actual customers as we liked. We didn't want our design to wander, so we created two <em>personas to help us stay aligned</em> to the type of customers who come to Central Cinema.</p>
        </div>

        <div class="fg--cell--custom buffer"> </div>
    </div>
</section>

<div id="temp"></div>

{% endblock %}
