{% extends "layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/project.css',
        scripts: 'js/scripts.js',
        bodyClass: 'central'
}%}

{% set meta2 = {
        title: 'Nikhil | Central Cinema',
        desc: 'I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{# ----- Content ----- #}
{% block content %}

{% include "partials/nametag.njk" %}

<header id="central" class="r">
    <div class="container">
        <div class="feature">
            <div class="container-inner">
                <h1>Central Cinema</h1>
                <h3>Redesigning the ticket booking experience for a theatre.</h3>
                <div class="button-container">
                    <a href="central-cinema.html" class="trigger--central">Read About It</a>
                </div>
            </div>
        </div>
        <div class="feature-image">
            <div class="container-inner">
                <img src="img/central/feature.jpg" alt="" class="soft-shadow" />
            </div>
        </div>
    </div>
</header>

<section id="tempScroller"></section>

{% endblock %}
