{% extends "layout.njk" %}

{% set var = {
        styles: 'css/home.css',
        scripts: 'js/scripts.js',
        title: 'Hello, World!'
}%}


{% set meta2 = {
        title: 'Hello World',
        desc: 'I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{% block content %}
<h1>This is the index page. Deal with it!</h1>
{% endblock %}
