{% extends "layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/home.css',
        scripts: 'scripts/all.js',
        bodyClass: 'home'
}%}

{% set meta2 = {
        title: 'Nikhil Venkatesh | Product Designer',
        desc: 'I’m a Product Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{# ----- Content ----- #}
{% block content %}

<section id="about">
    <div class="about-container container flex-grid">
        <div class="fg--cell about-info">
                <div class="heading">Hi!</div>
                <h1>I'm <em>Nikhil,</em></h1>
                <h3>A <em>Product Designer</em> and <em>Animator</em> with a passion for coding. I enjoy transforming ideas to products, and believe that a little bit of delight in design goes a long way!</h3>
        </div>
        <div class="fg--cell about-image">
            <img class="image-me" src="img/about/poly_me.png" alt="">
        </div>
    </div>
</section>
<div class="projects" id="projects">
    <section id="sim" class="proj r">
        <div class="feature-container container">
            <div class="feature-desc">
                <h2>SIM: The Social Robot</h2>
                <h3>Designing for affective Human-Robot Interaction</h3>
                <div class="button-container">
                    <a href="sim.html" class="trigger--sim hidden-phone">Read About It</a>
                </div>
            </div>
            <div class="feature-image">
                <div class="image-container container">
                    <picture>
                        <img src="img/sim/feature.png" alt="" />
                    </picture>
                </div>
            </div>
        </div>
        <a href="sim.html" class="trigger--sim overlay-trigger visible-phone"></a>
    </section>

    <section id="xtly" class="proj l">
        <div class="feature-container container">
            <div class="feature-desc">
                <h2>Xactly Incent</h2>
                <h3>Helping the sales force stay informed about their goals</h3>
                <div class="button-container">
                    <a href="xactly.html" class="trigger--xtly hidden-phone">Read About It</a>
                </div>
            </div>

            <div class="feature-image">
                <div class="image-container container">
                    <picture>
                        <img src="img/xtly/feature.png" alt="" class="soft-shadow" />
                    </picture>
                </div>
            </div>
            <a href="xactly.html" class="trigger--xtly overlay-trigger visible-phone"></a>
        </div>
    </section>

    <section id="central" class="proj r">
        <div class="feature-container container">
            <div class="feature-desc">
                <h2>Central Cinema</h2>
                <h3>Redesigning the web experience for a local beer-theatre</h3>
                <div class="button-container">
                    <a href="central-cinema.html" class="trigger--central hidden-phone">Read About It</a>
                </div>
            </div>

            <div class="feature-image">
                <div class="image-container container">
                    <picture>
                        <img src="img/central/feature.jpg" alt="" class="soft-shadow" />
                    </picture>
                </div>
            </div>
            <a href="central-cinema.html" class="trigger--central overlay-trigger visible-phone"></a>
        </div>
    </section>

    <section id="puppy" class="proj l">
        <div class="feature-container container">
            <div class="feature-desc">
                <h2>PuppyHarmony</h2>
                <h3>A platform to find the perfect playdate for your furry friend</h3>
                <div class="button-container">
                    <a href="puppy-harmony.html" class="trigger--puppy hidden-phone">Read About It</a>
                </div>
            </div>
            <div class="feature-image">
                <div class="image-container container">
                    <picture>
                        <img src="img/puppy/feature.png" alt=""/>
                    </picture>
                </div>
            </div>
            <a href="puppy-harmony.html" class="trigger--puppy overlay-trigger visible-phone"></a>
        </div>
    </section>
</div>

<section id="gallery">
    <div class="container r-label">
        <div class="label">ANIMATION</div>
        <div class="video">
            <iframe src="https://player.vimeo.com/video/94683657" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>
        </div>
    </div>

    <div class="container l-label">
        <div class="label">PHOTOGRAPHY</div>
        <div class="photos"><a href="https://500px.com/nikhilv" target="_blank"></a></div>
    </div>
</section>
{% endblock %}
