{% extends "layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/project.css',
        scripts: 'js/scripts.js',
        bodyClass: 'puppy'
}%}

{% set meta2 = {
        title: 'Nikhil | PuppyHarmony',
        desc: 'I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{# ----- Content ----- #}
{% block content %}

{% include "partials/nametag.njk" %}

<header id="puppy" class="l">
    <div class="container">
        <div class="feature">
            <div class="container-inner">
                <h1>PuppyHarmony</h1>
                <h3>A platform to find the perfect playdate for your furry friend.</h3>
                <div class="button-container">
                    <a href="puppy-harmony.html" class="trigger--puppy">Read About It</a>
                </div>
            </div>
        </div>
        <div class="feature-image">
            <div class="container-inner">
                <img src="img/puppy/feature.png" alt="" />
            </div>
        </div>
    </div>
</header>

{% endblock %}
