{% extends "layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/home.css',
        scripts: 'js/scripts.js',
        bodyClass: 'sim'
}%}

{% set meta2 = {
        title: 'Nikhil | SIM',
        desc: 'I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{# ----- Content ----- #}
{% block content %}

{% include "partials/nametag.njk" %}

<section id="sim" class="r">
    <div class="container">
        <div class="feature">
            <div class="container-inner">
                <h1>SIM: The Social Robot</h1>
                <h3>Designing for affective Human-Robot Interaction.</h3>
                <div class="button-container">
                    <a href="sim.html" class="trigger--sim">Read About It</a>
                </div>
            </div>
        </div>
        <div class="feature-image">
            <div class="container-inner">
                <img src="img/sim/feature.png" alt="" />
            </div>
        </div>
    </div>
</section>

{% endblock %}
