{% extends "layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/project.css',
        scripts: 'scripts/all.js',
        bodyClass: 'sim'
}%}

{% set meta2 = {
        title: 'Nikhil | SIM',
        desc: 'I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{# ----- Content ----- #}
{% block content %}

{% include "partials/nametag.njk" %}

<header id="sim" class="r">
    <div class="feature-container">
        <div class="feature-desc">
            <h1>SIM: The Social Robot</h1>
            <h3>Designing for affective Human-Robot Interaction.</h3>
            <div class="button-container"></div>
        </div>
        <div class="feature-image">
            <div class="image-container">
                <picture>
                    <img src="img/sim/feature.png" alt="" />
                </picture>
            </div>
        </div>
    </div>
</header>

<section class="content" id="intro">
    <div class="flex-grid container">
        <div class="fg--cell content--text center">
            <p>Many of us have grown up watching movies and cartoons with robot companions. Robots like R2-D2, Rosie, and Wall-E all have such incredible personality that we start <em>forming bonds</em> with these characters. However, in real life, robots have typically been industrial machines, built to perform very specific tasks, and handled by trained operators.</p>

            <p>All that is about to change. Over the last few years, we have seen a rise in popularity of <em>intelligent systems</em>. Software like Alexa and Google Assistant serve as general assistants, able to handle a <em>variety of everyday tasks</em>. As a logical progression, we saw a whole bunch of <em>robot helpers</em> being announced at CES 2017, and this got us thinking about these software assistants and how they can be integrated into our lives more easily.</p>

            <p>We thought it was important to <em>re-examine our interactions</em> with these technologies and understand how we can design more <em>natural and intuitive</em> interactions.</p>
        </div>
        <div class="fg--cell buffer"></div>
    </div>
</section>
<section class="content alt" id="video">
    <div class="container">
        <p class="heading-1">The Process Video</p>
        <div class="video">
            <iframe src="https://player.vimeo.com/video/207216272" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</section>

<div class="next-up">
    <div class="label">NEXT UP</div>
    <section id="xtly" class="l">
        <div class="feature-container">
            <div class="feature-desc">
                <h2>Xactly Incent</h2>
                <h3>Helping Sales people stay informed about their goals</h3>
                <div class="button-container">
                    <a href="xactly.html" class="trigger--xtly hidden-phone">Read About It</a>
                </div>
            </div>

            <div class="feature-image">
                <div class="image-container">
                    <picture>
                        <img src="img/xtly/feature.png" alt="" class="soft-shadow" />
                    </picture>
                </div>
            </div>
            <a href="xactly.html" class="trigger--xtly overlay-trigger visible-phone"></a>
        </div>
    </section>
</div>

{% include "partials/footer.njk" %}

{% endblock %}
