{% extends "layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/project.css',
        scripts: 'scripts/all.js',
        bodyClass: 'sim'
}%}

{% set meta2 = {
        title: 'Nikhil | SIM',
        desc: 'I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{# ----- Content ----- #}
{% block content %}

{% include "partials/nametag.njk" %}

<header id="sim" class="r">
    <div class="feature-container container">
        <div class="feature-desc">
            <h1>SIM: The Social Robot</h1>
            <h3>Designing for affective Human-Robot Interaction.</h3>
            <div class="button-container"></div>
        </div>
        <div class="feature-image">
            <div class="image-container container">
                <picture>
                    <img src="img/sim/feature.png" alt="" />
                </picture>
            </div>
        </div>
    </div>
</header>

<section class="content" id="intro">
    <div class="flex-grid container">
        <div class="fg--cell content--text center">
            <p>Growing up watching movies and cartoons, our idea of the term <em>robot</em> is very different from the robots that exist in the world today. The last half-century has introduced robots that are purpose-built. They are built to do one thing and do it really well. They're hard to operate, and are usually in an industrial setting operated by trained professionals.</p>

            <p>But we have seen visions of a different kind of robot. Robots like R2-D2, BayMax, and Wall-E - ones that have such incredible personality, and are so full of "life" that we start forming emotional bonds with them.</p>

            <p>As this vision of a <em>robot companion</em> comes closer to becoming a reality with companion robots like Jibo and Kuri, we thought it was important to <em>re-examine our interactions</em> with these robots and understand how we can design more <em>natural and intuitive</em> interaction paradigms.</p>

            <p>This project was our <em>Capstone at the HCDE Masters program</em> at the University of Washington. I was the <em>primary designer</em> on the team, working alongside two engineers and a project manager/designer.</p>
        </div>
        <div class="fg--cell project-details">
            <div>
                <p><em>Type</em> Academic Capstone Project</p>
                <p><em>Role</em> Designer, Prototyper</p>
                <p><em>Duration</em> 6 months (Sep 2016 - March 2017)</p>
                <p><em>Responsibilities</em> UX design, Prototyping, Character design, Visual design, Motion design, Supporting UX research, Supporting engineer.</p>
            </div>
        </div>
    </div>
</section>
<section class="content alt" id="video">
    <div class="container">
        <p class="heading-1">The Process Video</p>
        <div class="video">
            <iframe src="https://player.vimeo.com/video/207216272" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</section>

<div class="next-up">
    <div class="label">NEXT UP</div>
    <section id="xtly" class="proj l">
        <div class="feature-container container">
            <div class="feature-desc">
                <h2>Xactly Incent</h2>
                <h3>Helping the sales force stay informed about their goals</h3>
                <div class="button-container">
                    <a href="xactly.html" class="trigger--xtly hidden-phone">Read About It</a>
                </div>
            </div>

            <div class="feature-image">
                <div class="image-container container">
                    <picture>
                        <img src="img/xtly/feature.png" alt="" class="soft-shadow" />
                    </picture>
                </div>
            </div>
            <a href="xactly.html" class="trigger--xtly overlay-trigger visible-phone"></a>
        </div>
    </section>
</div>
{% endblock %}
