{% extends "layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/project.css',
        scripts: 'scripts/all.js',
        bodyClass: 'xtly'
}%}

{% set meta2 = {
        title: 'Nikhil | Xactly Incent',
        desc: 'I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{# ----- Content ----- #}
{% block content %}

{% include "partials/nametag.njk" %}

<header id="xtly" class="l">
    <div class="feature-container">
        <div class="feature-desc">
            <h1>Xactly Incent</h1>
            <h3>Helping Sales people stay informed about their goals.</h3>
            <div class="button-container">
            </div>
        </div>

        <div class="feature-image">
            <div class="image-container">
                <picture>
                    <img src="img/xtly/feature.png" alt="" class="soft-shadow" />
                </picture>
            </div>
        </div>
    </div>
</header>

<div id="temp"></div>

<div class="next-up">
    <div class="label">NEXT UP</div>
    <section id="central" class="r">
        <div class="feature-container">
            <div class="feature-desc">
                <h2>Central Cinema</h2>
                <h3>Redesigning the web experience for a local beer-theatre</h3>
                <div class="button-container">
                    <a href="central-cinema.html" class="trigger--central hidden-phone">Read About It</a>
                </div>
            </div>

            <div class="feature-image">
                <div class="image-container">
                    <picture>
                        <img src="img/central/feature.jpg" alt="" class="soft-shadow" />
                    </picture>
                </div>
            </div>
        </div>
        <a href="central-cinema.html" class="trigger--central overlay-trigger visible-phone"></a>
    </section>
</div>

{% include "partials/footer.njk" %}

{% endblock %}
