{% extends "layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/project.css',
        scripts: 'scripts/all.js',
        bodyClass: 'xtly'
}%}

{% set meta2 = {
        title: 'Nikhil | Xactly Incent',
        desc: 'I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{# ----- Content ----- #}
{% block content %}

{% include "partials/nametag.njk" %}

<header id="xtly" class="l">
    <div class="feature-container">
        <div class="feature-desc">
            <h1>Xactly Incent</h1>
            <h3>Helping the sales force stay informed about their goals.</h3>
            <div class="button-container">
            </div>
        </div>

        <div class="feature-image">
            <div class="image-container">
                <picture>
                    <img src="img/xtly/feature.png" alt="" class="soft-shadow" />
                </picture>
            </div>
        </div>
    </div>
</header>

<section class="content l" id="intro">
    <div class="flex-grid container">
        <div class="fg--cell content--text center">
            <p>Over the summer of 2016, I interned at <em>Xactly Corporation</em> as a UX Designer. Being one of the two designers in the company, I was involved in a variety of products and exclusively handled design for two products that directly contributed to Xactly's user experience.</p>

            <p>Xactly is an enterprise SaaS company, and is a market leader in providing incentive compensation solutions for employee and sales performance management.</p>

            <p>While I was at Xactly, I worked with product management and engineering on a number of projects, acting as the <em>design lead</em> for two of them.</p>

            <p>Incent is Xactly's flagship product - a platform for companies to manage sales performance and incentive compensation. The Android application is geared towards the end users, enabling them to get an overview of their performance and quotas.</p>
        </div>

        <div class="fg--cell project-details">
            <div>
                <p><em>Type</em> Internship at Xactly Corp., San Jose</p>
                <p><em>Role</em> UX Designer</p>
                <p><em>Duration</em> 3 months internship + 6 months remote part-time (Jun 2016 - Mar 2017)</p>
                <p><em>Responsibilities</em> UX design, Product Strategy, Visual design, Prototyping, Product Launch, Motion design</p>
            </div>
        </div>
    </div>
</section>

<div class="next-up">
    <div class="label">NEXT UP</div>
    <section id="central" class="r">
        <div class="feature-container">
            <div class="feature-desc">
                <h2>Central Cinema</h2>
                <h3>Redesigning the web experience for a local beer-theatre</h3>
                <div class="button-container">
                    <a href="central-cinema.html" class="trigger--central hidden-phone">Read About It</a>
                </div>
            </div>

            <div class="feature-image">
                <div class="image-container">
                    <picture>
                        <img src="img/central/feature.jpg" alt="" class="soft-shadow" />
                    </picture>
                </div>
            </div>
        </div>
        <a href="central-cinema.html" class="trigger--central overlay-trigger visible-phone"></a>
    </section>
</div>

{% endblock %}
