{% extends "layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/project.css',
        scripts: 'scripts/main.js',
        bodyClass: 'xtly'
}%}

{% set meta2 = {
        title: 'Nikhil | Xactly Incent',
        desc: 'I’m a UX Designer with an incredible passion for interaction design and animation and love finding ways to create delightful experiences.',
        image: ''
}%}

{# ----- Content ----- #}
{% block content %}

{% include "partials/nametag.njk" %}

<header id="xtly" class="l">
    <div class="feature-container">
        <div class="feature-desc">
            <h1>Xactly Incent</h1>
            <h3>Helping Sales people stay informed about their goals.</h3>
            <div class="button-container">
            </div>
        </div>

        <div class="feature-image">
            <div class="image-container">
                <picture>
                    <img src="img/xtly/feature.png" alt="" class="soft-shadow" />
                </picture>
            </div>
        </div>
    </div>
</header>

<section id="tempScroller"></section>

{% endblock %}
