// Animation Classes & Utilities

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-down { // About Page Landing
    0% {
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(100px);
    }
}

@keyframes fade-in-up {  // About Page text lines fade in
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
