@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes nav-fade-in {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

%fade-in {
    animation: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: .4s;
}
