// Colors
// -------------
$black: #232628;
$grey: #797e83;
$white: #fff;
$light-grey: #eaeef1;

$accent: #ff5252 !default;
$accent-gradient: linear-gradient(to left, $accent, lighten($accent, 6%));

// Projects
$sim: #f76b1c;
$sim-alt: #ecaf50;
$xtly: #0092ff;
$xtly-alt: #326ec1;
$puppy: #4bc388;
$puppy-alt: #6dc3b1;
$central: #ea4335;
$central-alt: #ae2e5c;

// Type
// -------------
$text: 'Lato', 'helvetica', sans-serif;
$quote: 'Caveat', 'Garamond', serif;

// Weights
$heavy: 700;
$normal: 300;
$light: 100;



// Animation
// -------------
$timing-d: .4s;
$easing-d: ease-in-out;
$transition-d: $timing-d all $easing-d;

$animation-d: fade-in $timing-d $easing-d;



// Layout
// -------------
$site-max: 1200px;
$content-max: 576px;
$content-large-max: 1920px;


// Imports
// -------------
@import 'vendor/include-media';

@import 'partials/mixins';
@import 'partials/utils';
@import 'partials/animation';
