@mixin social-icons($hover-color: $xtly){
	display: flex;
    justify-content: space-between;
    min-width: 280px;
    width: 20%;
	.icon{
		a{
			display: block;
			width: 48px;
			height: 48px;
			opacity: 1;
			transition: all 0.3s cubic-bezier(.33,.01,.06,1);
			border-radius: 10px;

			svg{
				fill: white;
				padding: 5px;
				transition: all 0.3s ease-in-out;
				position: relative;
				left: -5px;
				top: -5px;

				*{
					transition: all 0.6s cubic-bezier(.23,.29,.45,1);
				}

				.bg{
					stroke-dasharray: 2000;
					stroke-dashoffset: 2000;
					stroke-width: 20;
				}
			}

			&:hover{
				transform: scale(1.3);

				svg{
					.bg{
						fill: rgba(0,0,0,0);
						stroke-dashoffset: 4000;
						stroke: $hover-color;
					}
					.icon{
						fill: $hover-color;
					}
				}
			}
		}

		// LinkedIn
		.li{
			.bg{
				fill: $linkedin;
				stroke: $linkedin;
			}

			&:hover svg .icon{
				fill: $hover-color;
			}
		}

		// Twitter
		.tw{
			.bg{
				fill: $twitter;
				stroke: $twitter;
			}

			&:hover svg .icon{
				fill: $hover-color;
			}
		}

		// Dribbble
		.db{
			.bg{
				fill: $dribbble;
				stroke: $dribbble;
			}

			&:hover svg .icon{
				fill: $hover-color;
			}
		}

		// 500PX
		.p500{
			.bg{
				fill: $px500;
				stroke: $px500;
			}

			&:hover svg .icon{
				fill: $hover-color;
			}
		}
	}
}

footer{
    height: 40%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background: $black url('/img/about/background.jpg');
    background-size: cover;
    padding: 120px 0;
    opacity: 1;
    z-index: -99;
    align-items: center;

    h4#email{
        color: white;
        font-size: 1.8em;
        font-family: $heading;
        font-weight: $thin;
        text-align: center;
        width: 100%;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            left: 0; bottom: -10px;
            width: 100%;
            height: 2px;
            background: white;
            transform: scaleX(0);
            transition: 0.3s all ease-in-out;

        }

        &:hover{
            color: $xtly;
            &::before{
                transform: scaleX(1);
            }
        }
    }
    .social-container{
        padding-bottom: 40px;
        @include social-icons($xtly);
    }
}
