//// Aspect Ratio
@mixin aspect-ratio($ratio: 1 1, $selector: "> :first-child") {
	$selector: unquote($selector);
	position: relative;

    &:before {
        display: block;
        content: '';
        width: 100%;
        padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
      }

	#{$selector} {
        position: absolute;
		top: 0;
        right: 0;
        bottom: 0;
        left: 0;
	}
}

//// Soft Shadows
@mixin soft-shadow($blur: 32, $opacity: 0.28) {
    box-shadow: 0px 0px $blur + px rgba(0,0,0, $opacity);
}

//// Video Embeds
@mixin video-embed($ratio: 16 9) {
    @include aspect-ratio($ratio, 'iframe');
    iframe{
        border:0;
        height:100%;
        width: 100%;
    }
}

//// Project Tiles Header
@mixin work($name, $color: $black, $margin-right: 24%, $margin-left: 24%){
	// Button Color
	.trigger--#{$name}:hover {
		color: $color;
	}

	// Styling for Home page [section#name] and Project page [body#name header]
	section##{$name}, &.#{$name} header {
		.feature-container{
			padding: 0;
			max-width: 1440px;

			.feature-desc{
				background: $color url('../img/#{$name}/gradient.jpg') no-repeat;
                background-size: cover;
                margin: 0;

				@include breakpoint(tablet){
                    margin: 78px $margin-right 78px $margin-left;
                }
			}
		}
	}

	&.transition--#{$name} section:not(##{$name}), footer{
        opacity: 0;
    }

}

@mixin work-transition-defaults() {
    .feature-container{
        max-width: 100%;
        padding: 0;

        .feature-desc{
            border-radius: 0;
            margin: 0 !important;
            padding: 200px 30px 0;

            @include breakpoint(tablet){
                padding: 200px 60px 0;

            }
            @include breakpoint(laptop){
                padding: 200px 90px 0;
            }

            h1, h2{
                padding-top: 100px;

                @include breakpoint(tablet){
                    padding-top: 200px;
                }
            }

            .button-container{
                opacity: 0;
                height: 0;
            }
        }

        .feature-image{
            .image-container{
                max-width: 100%;

                picture{
                    opacity: 0.1;

                    @include breakpoint(mobile){
                        opacity: 0.3;
                    }

                    @include breakpoint(tablet){
                        opacity: 1;
                    }
                }
            }
        }
    }
}
