// Nametag Styles
.nametag{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 60px 0 30px;
    margin: 0;
    z-index: 99;

    h6{
        display: inline-block;
        color: $white;
        font-weight: $reg;
        text-transform: uppercase;
        font-size: .8em;
        letter-spacing: 6px;
        animation-duration: 1s;
        animation-delay: .4s;
        opacity: 0;
        text-align: left;
        padding: 12px 12px 12px 0;
        margin: 0;
        position: relative;

        @include breakpoint(tablet){
            text-align: left;
            padding: 30px 12px 30px 0;
        }

        .divider{
            background: $white;
            display: inline-block;
            position: relative;
            top: -1px;
            font-size: .79em;
            width: 1px;
            height: 100%;
            margin: 0 24px 0 20px;
        }

        &::after{
            content: '‹ Go Home';
            position: absolute;
            top: 0;
            left: 0;
            padding: 12px 0;
            background: $black;
            transition: .4s all ease-in-out .1s;
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            z-index: 99;

            @include breakpoint(tablet){
                padding: 30px 0;
            }
        }

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            padding: 12px 0;
            background: $black;
            transition: .4s all ease-in-out;
            width: 0;
            height: 1.1em;
            overflow: hidden;
            opacity: .3;
            z-index: 99;

            @include breakpoint(tablet){
                padding: 30px 0;
            }
        }

        &:hover{
            opacity: .4;

            &::before{
                width: 100%;
                padding: 12px 0 12px 12px;

                @include breakpoint(tablet){
                    padding: 30px 0 30px 12px;
                }
            }

            &::after{
                width: 120px;
                padding-left: 24px;
                padding-right: 48px;
            }
        }
    }
}

// Navigation styles

$nav-mob-size: 60px;

@mixin nav-color($color: $primary){
    .nav-trigger,
    .nav-menu,
    .nav-menu a {
        background: $color;
    }

    .nav-trigger:hover{
        background: lighten($color, 6%);
    }

    @include breakpoint(tablet){
        .nav-menu li:hover{
            background: lighten($color, 6%);
        }
    }
}

nav{
    position: fixed;
    z-index: 999;
    margin: 0;
    bottom: 100px;
    right: 5%;

    @include breakpoint(tablet){
        bottom: auto;
        top: 24px;
    }

    *,
    *::after,
    *::before {
    	box-sizing: border-box;
    }

    &.nav-unpinned{
        visibility: visible;
        opacity: 1;
    }
}

.home nav{
    opacity: 0;
    animation: fade-in 1s ease-in-out;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

.nav-trigger {
    @include soft-shadow();
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	height: $nav-mob-size;
	width: $nav-mob-size;
	border-radius: 50%;
    background: $primary;
	overflow: hidden;
	white-space: nowrap;
	color: transparent;
	pointer-events: auto;
    cursor: pointer;

    &:hover{
        background: lighten($primary, 6%);
    }

	span,
    span::after,
    span::before {
		// this is the hamburger icon
		position: absolute;
		width: 16px;
		height: 2px;
		background-color: $white;
    }

	span {
		@include center;
	}

	span::after,
    span::before {
		content: '';
		top: 0;
		left: 0;
		backface-visibility: hidden;
	}

	span::before {
        transform: translateY(-6px);
	}

	span::after {
        transform: translateY(6px);
	}

    // When Nav is open

	.nav-is-visible & {
        @include soft-shadow(0, 0);
        transform: translateY(32px);
        background: transparent;

        @include breakpoint(tablet){
            transform: rotate(-180deg);
        }

		span {
			background-color: transparent;
		}

		span::before {
			// @include transform(rotate(-45deg));
            transform: rotate(-45deg);
		}

		span::after {
			// @include transform(rotate(45deg));
            transform: rotate(45deg);
		}
	}

    .home .nav-at-top &{
        @include breakpoint(tablet){
            transform: scale(0) rotate(180deg);
        }
    }

    .nav-at-top & {
        @include breakpoint(tablet){
            top: 48px;
        }
    }

    .home .nav-at-top &{
        top:0;
    }
}

// Display only on home screen
.nav-menu-static{
    display: none;
    height: 0;
}

.home .nav-at-top .nav-menu-static{
    @include breakpoint(tablet){
        display: flex;

        a{
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.home .nav-menu-static{
    display: flex;

    a{
        padding: 8px 12px;
        margin: 0 6px;
        opacity: 0;
        visibility: hidden;

        &:hover{
            li{
                color: $primary;
            }
        }
    }

    li{
        color: $white;
        display: block;
        padding: 14px 18px;
        text-transform: uppercase;
        font-weight: $bold;
        transition: .2s all ease-in-out;
        position: relative;
        letter-spacing: .07em;
        font-size: 1.1em;
    }

    @for $i from 1 to 10 {
        a:nth-child(#{$i}) {
            transform: translateX(30px * (5 - $i));
        }
    }
}

.nav-menu{
    @include soft-shadow();
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 38px;
    right: 5%;
    max-height: $nav-mob-size;
    width: $nav-mob-size;
    height: 100%;
    background: $primary;
    border-radius: 36px;
    visibility: hidden;
    transition-delay: .2s;
    transition-duration: .3s;

    a{
        color: $white;
        width: 100%;
        list-style: none;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        // font-weight: $bold;
        padding: 0;
        font-size: 1.1em;
        background: $primary;
        opacity: 0;
        transform: translateX(20px);

        &:active{
            filter: brightness(.8);
        }

    }

    li{
        display: block;
        padding: 14px 18px;
    }

    @for $i from 1 to 10 {
        a:nth-child(#{$i}) {
            transition-delay: .04s + ($i * .05s);
        }
    }

    // Nav is open
    .nav-is-visible & {
        visibility: visible;
        width: 100%;
        max-height: 210px;
        border-radius: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: .2s;
        padding-bottom: 12px;

        a{
            opacity: 1;
            transform: translateX(0);
        }
    }

    // Tablet & above

    @include breakpoint(tablet){
        bottom: auto; top: 24px;

        a{
            width: auto;
            text-align: left;
            background: transparent;
        }

        li:hover{
            background: lighten($primary, 6%);
        }

        .nav-is-visible &{
            right: 5%;
            bottom: 38px;
            width: 240px;
            height: 400px;
            border-radius: 4px;
        }

        .home .nav-at-top &{
            opacity: 0;
            top: 0;
        }

        .nav-at-top &{
            top: 72px;
        }
    }
}
