body,
html {
    height: 100%;
    background: $white;
    font-size: 1em;
}

body * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
    font-family: $sans-serif;
    transition: $default-transition;
}

.heading{
    font-size: 1.6em;
    font-family: $heading;
    font-weight: $bold;
}

.overlay-trigger{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0; left:0;
    z-index: 999;
}

#temp{
    height: 1000px;
    background: transparent;
}

.spacer{
    width: 100%;
    height: 78px;
}

a{
    color: inherit;
    text-decoration: none;

    &:visited, &:active, &:hover{
        text-decoration: none;
        color: inherit;
    }
}

.container{
    margin: 0 auto;
    padding: 0 30px;
    max-width: $site-width-max;
    @include breakpoint(tablet){
        padding: 0 60px;
    }
    @include breakpoint(laptop){
        padding: 0 90px;
    }
}

.flex-grid{
    display: block;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(tablet){
        display: flex;
        flex-flow: row wrap;
    }

    .fg--cell--custom{
        max-width: 100%;
        @include breakpoint(laptop){
            flex: 1;
            max-width: 50%;
        }
    }

    .fg--cell{
        width: 100%;

        &:first-child{
            padding-right: 0;
            @include breakpoint(tablet){
                padding-right: 30px;
            }
        }

        @include breakpoint(tablet){
            flex: 1;
        }

        &--2x{
            width: 100%;

            @include breakpoint(tablet){
                flex: 2;
            }
        }

        &--3x{
            width: 100%;
            @include breakpoint(tablet){
                flex: 3;
            }
        }
    }
}

// Gallery & Next-up Label
.label{
    padding-left: 60px;
    font-size: 2em;
    width: auto;
    font-weight: bold;
    position: relative;
    display: inline;
    top: 60px;
    left: 0;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    z-index: 1;
    color: $black;

    @include breakpoint(tablet){
        padding-left: 150px;
        top: -140px;
    }

    &:before{
        content: '';
        background-color: $white;
        height: 5px;
        position: absolute;
        bottom: -8px;
        left:0;
        width: 106%;
    }
    &:after{
        content: '';
        background-color: $white;
        height: 12px;
        position: absolute;
        bottom: -11px;
        right:-6%;
        width: 12px;
    }
}

.button-container{
    height: 48px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    z-index: 9;

    a[class^="trigger--"]{
        border: 1px solid white;
        border-radius: 50px;
        text-align: center;
        padding: 12px 18px;
        padding-right: 20px;
        position: relative;
        top: 7px;
        color: white;
        text-decoration: none;
        opacity: 1;
        transition: 0.2s all cubic-bezier(.42,0,.58,1) !important;

        &::after{
            content: '›';
            font-size: 1.6em;
            position: relative;
            top: 2px;
            left:0;
            padding-left: 12px;
        }

        &:hover{
            background: $white;
            border: 1px solid $white;
        }
    }
}

.soft-shadow{
    @include soft-shadow();
}

.video-embed--16-9{
    @include video-embed(16 9);
}

// Communicate media queries with javascript
.responsive-beacon{
    position: fixed;
    height: 0;
    width: 10px !important;
    visibility: hidden !important;
    top: -9999px;

    @include breakpoint(tablet){
        width: 20px !important;
    }
    @include breakpoint(laptop){
        width: 30px !important;
    }
    @include breakpoint(desktop){
        width: 40px !important;
    }
}

// Debug Media Tag
.media-tag{
    position: fixed;
    height: 20px;
    top:0; left:0;
    z-index: 999;

    &:after{
        content: 'Mobile';
        display: block;
        color: $white;
        font-family: $heading;
        padding: 8px;
        background: $central;
        top:0; left:0;
        border-radius: 0 0 4px 0;
        opacity: 0.8;

        @include breakpoint(tablet){
            content: 'Tablet';
            background: $sim;
        }

        @include breakpoint(laptop){
            content: 'Laptop';
            background: $puppy;
        }
        @include breakpoint(desktop){
            content: 'Desktop';
            background: $xtly;
        }
    }
}
