//-----------------------------------------------
// Color Palette
//-----------------------------------------------

$black: 	#1b2737; // #27303c; // Almost Black
$white: 	#ECEFF1; // ALmost White
$blue: 		#2e416a;
$blue-alt:	#0277BD;
$red: 		#EF5350;
$red-alt: 	#EE5941;
$yellow: 	#FDD835;
$yellow-alt:#F9A825;

$twitter: 	#28AAE2;
$facebook: 	#3C5A98;
$email:		#DD4B38;
$linkedin: 	#047CB7;
$dribbble: 	#ea4c89;

//-----------------------------------------------
// Font Families
//-----------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,700|Arvo:400|Ubuntu:300);

$font-sans:   'Source Sans Pro', helvetica, arial, sans-serif;
// $font-serif:  'Alegreya','Georgia', 'Times New Roman', serif;
$font-serif:  'Ubuntu', helvetica, arial, sans-serif;
$font-title:  'Arvo', 'Open Sans', helvetica, sans-serif;
$font-light:   300;
$font-reg:     500;
$font-bold:    700;
$font-regular: regular;
$font-italic:  italic;

//-----------------------------------------------
// Sizes and Widths
//-----------------------------------------------

$container-width-tab: calc(100% - 60px);
$container-width: calc(100% - 60px);