//-----------------------------------------------
// Color Palette
//-----------------------------------------------

$black: 	#1b2737; // #27303c; // Almost Black
$white: 	#ECEFF1; // ALmost White
$blue: 		#2e416a;
$blue-alt:	#0277BD;
$red: 		#EF5350;
$yellow: 	#FDD835;
$yellow-alt:#F9A825;

//-----------------------------------------------
// Font Families
//-----------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Poiret+One|Source+Sans+Pro:300,500,700);

$font-sans:   'Source Sans Pro', helvetica, arial, sans-serif;
$font-serif:  'Georgia', 'Times New Roman', serif;
$font-title:  'Poiret One', 'Open Sans', helvetica, sans-serif;
$font-light:   300; // for Light Source Sans
$font-reg:     500; // for Regular Source Sans & Bitter
$font-bold:    700; // for Bold Source Sans
$font-regular: regular;
$font-italic:  italic;

//-----------------------------------------------
// Sizes and Widths
//-----------------------------------------------

$container-width-tab: calc(100% - 60px);
$container-width: calc(100% - 60px);


//-----------------------------------------------
// Social Media Colors
//-----------------------------------------------

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$linkedin: #007bb6;
$dribbble: #ea4c89;
