footer{
	height: 125px;
	width: 100%;
	background-color: $black;
	display: table;
	padding: 0;
	margin: 0;
	padding-bottom: 20px;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.15);

	.container{
		display: table-cell;
		vertical-align: middle;
		padding: 30px;

		.button{
			background: transparent;
			border: 1px solid white;

			&:hover{
				background: $red;
				color: $white;
				border-color: $red;
			}
		}

		.social-container{
			padding: 20px 0;
			li{
				a{
					height:42px;
					width: 42px;
				}
			}
		}

		.resume-email{
			display: block;
			margin: 10px;
			text-align: center;
		}
	}
}
