// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,400i,900');

@import "vendor/normalize";
@import "partials/variables";
@import "partials/breakpoints";

#tempScroller{
    width: 100%;
    height: 1000px;
}

body,
html {
    height: 100%;
    background: $white;
    font-size: 18px;
}

body * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
    font-family: $sans;
}

// Communicate with jQuery
.responsive-beacon{
    position: fixed;
    height: 0;
    width: 10px !important;
    opacity: 0;
    visibility: hidden;
    top: -9999px;

    @include breakpoint(tablet){
        width: 20px !important;
    }

    @include breakpoint(laptop){
        width: 30px !important;
    }
    @include breakpoint(desktop){
        width: 40px !important;
    }

}

.container, .container-inner{
    color: white;
    max-width: $site-width-max;
    position: relative;
    margin: 0 auto;

    *{
        transition: $default-trns;
    }
}

// Mixins

@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

// Clip Path Rectangle
// @mixin clip-rect($vert, $horz, $debug: 'no') {
//     opacity: 1;
//
//     clip-path: polygon(0 0, $vert 0, $vert $horz, 0 $horz);
//
//     @if $debug == 'debug' {
//         background: red;
//     }
// }

// Default Styles for all projects, transition styles
@mixin project-defaults($name, $color: $black, $margin-right: 25%, $margin-left: 25%){

    // Home page projects, Project page headers
    section##{$name}, &.#{$name} header{
        position: relative;
        z-index: 10;

        .trigger--#{$name}:hover {
            color: $color;
        }

        .container{
            transition-delay: 0.18s;
            transition-duration: 0.52s;
            max-width: 1280px;
            overflow: hidden;

            @include breakpoint(tablet){
                overflow: visible;
            }

            .feature{
                background: $color url('../img/#{$name}/gradient.jpg');
                background-size: cover;
                padding: 0 64px 300px;
                margin: 0;
                border-radius: 0;
                @extend .soft-shadow;
                max-height: 100vh;

                @include breakpoint(tablet){
                    margin: 78px $margin-right 78px $margin-left;
                    padding: 0 104px 0 86px;
                    border-radius: 8px;
                }

                .container-inner{
                    display: flex;
                    flex-flow: column;
                    transition-delay: 0.18s;
                    transition-duration: 0.42s;
                    z-index: 100;

                    h1, h2{
                        padding-top: 64px;
                        font-size: 1.8em;
                        font-weight: $bold;
                        text-transform: uppercase;
                        margin: 0;
                        letter-spacing: 2px;
                        transition-duration: 0.4s;

                        @include breakpoint(tablet){
                            font-size: 2em;
                        }
                    }

                    h3{
                        padding-top: 32px;
                        font-weight: $regular;
                        font-size: 1.1em;
                        letter-spacing: 1.5px;
                        width: 100%;
                        margin: 0;
                        transition-duration: 0.4s;

                        @include breakpoint(tablet){
                            font-size: 1.2em;
                            width: 70%;
                            max-width: 380px;
                        }
                    }

                    .button-container{
                        padding-top: 24px;
                        padding-bottom: 52px;
                        text-align: left;
                    }
                }
            }

            .feature-image{
                pointer-events: none;
                position: absolute;
                transition-duration: 0.4s;
                width: 100%;

                .container-inner{
                    position: relative;
                    width: 100%;

                    img{
                        height: 100%;
                        border-radius: 4px;
                        position: absolute;

                        &.clip{
                            display: none;
                        }
                    }
                }
            }
        }

        &.r{
            .feature-image{
                text-align: right;
                .container-inner{
                    img{
                        right:0;
                    }
                }
            }
        }

        &.l{
            .feature{
                text-align: right;

                @include breakpoint(tablet){
                    padding: 0 86px 0 104px;
                }

                .container-inner{
                    align-items: flex-end;

                    .button-container{
                        text-align: right;
                    }
                }
            }

            .feature-image{
                text-align: left;

                .container-inner{
                    img{
                        left: 0;
                    }
                }
            }
        }
    }

    // Transition & Next Page
    &.transition--#{$name}, &.#{$name} {
        section##{$name}, header##{$name} {
            .container{
                max-width: 100%;
                padding: 0;

                .feature{
                    border-radius: 0;
                    margin: 0;
                    // margin-bottom: 80px;
                    padding: 200px 30px 0;

                    @include breakpoint(tablet){
                        padding: 200px 60px 0;

                    }
                    @include breakpoint(laptop){
                        padding: 200px 90px 0;
                    }

                    .container-inner{
                        h1, h2{
                            padding-top: 0px;

                            @include breakpoint(tablet){
                                padding-top: 200px;
                            }
                        }

                        .button-container{
                            opacity: 0;
                            height: 0;
                        }
                    }
                }

                .feature-image{
                    .container-inner{
                        width: 90%;

                        img{
                            opacity: 0.1;

                            @include breakpoint(mobile){
                                opacity: 0.3;
                            }

                            @include breakpoint(tablet){
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    // Homepage specific - hide all other sections when transitioning
    &.transition--#{$name}{
        section:not(##{$name}), footer{
            opacity: 0;
        }
    }
}

// Utility Classes

.button-container{
    height: 48px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    z-index: 9;

    a[class^="trigger--"]{
        border: 1px solid white;
        border-radius: 50px;
        text-align: center;
        padding: 12px 18px;
        padding-right: 20px;
        position: relative;
        top: 7px;
        color: white;
        text-decoration: none;
        opacity: 1;
        transition: 0.2s all cubic-bezier(.42,0,.58,1) !important;

        &::after{
            content: '›';
            font-size: 1.6em;
            position: relative;
            top: 2px;
            left:0;
            padding-left: 12px;
        }

        &:hover{
            background: $white;
            border: 1px solid $white;
        }
    }
}
.overlay-trigger{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0; left:0;
    z-index: 999;
}
.soft-shadow{
    box-shadow: 0px 0px 32px rgba(0,0,0,0.28);
}
a{
    color: inherit;
    text-decoration: none;

    &:visited, &:active, &:hover{
        text-decoration: none;
        color: inherit;
    }
}

.video.container{
    width: 100%;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56%; /* 16:9 */
    padding-top: 0px;
    margin: 0 auto;
    height: 0;
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.15);

    @include breakpoint(tablet) {
        margin: 0 auto;
    }
}
.videoWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.grid{
    display: flex;

    .col-50.l{
        width: 100%;
        max-width: $content-width;
        padding-top: 0;
        margin: 0 auto;

        @include breakpoint(tablet){
            padding-top: 200px;
        }

        @include breakpoint(laptop){
            width: calc(50% - 120px);
            padding-right: 120px;
            max-width: 100%;
            margin: 0 ;
            padding-top: 0;
        }
    }
    .col-50.r{
        width: 100%;
        max-width: 40em;
        padding-top: 0;

        @include breakpoint(tablet){
            padding-top: 150px;
        }

        @include breakpoint(laptop){
            width: calc(50% - 120px);
            padding-left: 120px;
            max-width: 100%;
            padding-top: 0;
        }
    }
}

// Project Page

footer{
    height: 180px;
    display: flex;
    background: $black;
    padding: 60px 0 100px 0;
    opacity: 1;
    transition: $default-trns;
    z-index: -99;

    h4#email{
        color: white;
        font-size: 2em;
        font-weight: $light;
        text-align: center;
        width: 100%;

        &::before{
            content: "";
            position: absolute;
            left:0; bottom: 0;
            width: 100%;
            height: 1px;
            background: white;
            transform: scaleX(0);
            transition: 0.3s all ease-in-out;

        }

        &:hover{
            color: $blue;
            &::before{
                transform: scaleX(1);
            }
        }
    }
}

// Animation

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in{
    animation: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
