{% extends "project_layout.njk" %}

{# ----- Variables ----- #}
{% set var = {
        styles: 'css/project.css',
        scripts: 'scripts/all.js',
        bodyClass: 'xtly',
        nextUp: 'central'
}%}

{% set meta2 = {
        title: 'Nikhil | Xactly Incent',
        desc: 'Xactly Incent is a platform for companies to manage sales performance and incentive compensation. Read about my experience working at Xactly.',
        image: ''
}%}

{# ----- Content ----- #}
{% block project_content %}

<section class="content l" id="intro">
    <div class="flex-grid container">
        <div class="fg--cell content--text center">
            <p>Over the summer of 2016, I interned at <a class="inline-link" href="https://www.xactlycorp.com/" target="_blank">Xactly Corporation</a> as a UX Designer. Being one of the two designers in the company, I was involved in a variety of products and exclusively handled design for two products that directly contributed to Xactly's user experience.</p>

            <p>Xactly is an enterprise SaaS company and a market leader in providing incentive compensation solutions for employee and sales performance management.</p>

            <p>I worked with the product management and engineering teams on a number of projects, and <em>led the design</em> for two of them.</p>

            <p><em>Incent</em> is Xactly's flagship product - a platform for companies to manage sales performance and incentive compensation. The web interface is the most robust and feature rich, built for all the user groups, including sales admins and the end users. The <a href="https://play.google.com/store/apps/details?id=com.xactlyincent" class="inline-link" target="_blank">android app</a> is geared towards the end users(sales people), enabling them to get an overview of their performance and quotas quickly.</p>
        </div>

        <div class="fg--cell project-details">
            <div>
                <p><em>Type</em> Internship at Xactly Corp., San Jose</p>
                <p><em>Role</em> UX Designer</p>
                <p><em>Duration</em> 3 months internship + 6 months remote part-time (Jun 2016 - Mar 2017)</p>
                <p><em>Responsibilities</em> UX design, Product Strategy, Visual design, Prototyping, Product Launch, Motion design</p>
            </div>
        </div>
    </div>
</section>

<section class="content" id="design-01">
    {# <p class="heading-1 container">Thinking about Dog Stats</p> #}
    <picture>
        <source srcset="img/xtly/app_screens_m.jpg" media="(max-width: 480px)" />
        <source srcset="img/xtly/app_screens.jpg" />
        <img srcset="img/xtly/app_screens.jpg" alt="" />
    </picture>
</section>

{# <section class="content alt" id="design-03">
    <p class="heading-1 container">Design Choices - Consistency vs Nativity</p>
    <div class="flex-grid container">
        <div class="fg--cell content--text center">
            <p>The android app is a part of the Incent 'family' of products. Incent's web app caters to the all of users including both admins(who manage employees' plans) and employees(who can view and manage their plans). The mobile apps in the family - iOS and Android are tailored to be used on the move by just one of the user groups - employees. While the iOS app has been around for a few years, development on the android app started only a few weeks before I began working at Xactly. At the time, I was the only designer in the company, and being brought into the loop at such an early stage in the project was an awesome oppportunity to define the visual design and interaction paradigms.</p>

            <p>Since the iOS app was already in the live, our goal for the initial release was to catch up to iOS in terms of features. However, I did want to take this opportunity to rethink some of the interaction paradigms that had been used for iOS. </p>
        </div>
        <div class="fg--cell buffer"></div>
    </div>
</section> #}

{# <section class="content alt" id="design-03">
    <p class="heading-1 container">Using Design Thinking to Improve our Workflow</p>
    <div class="flex-grid container">
        <div class="fg--cell content--text center">
            <p>The development teams working on the android app were based in India, a 12-hour time difference away from our office in San Jose. This was my first job in UX, and my first time working with a development team. The fact that they were a remote team forced me to think outside the box with </p>

            <p>Since the iOS app was already in the live, our goal for the initial release was to catch up to iOS in terms of features. However, I did want to take this opportunity to rethink some of the interaction paradigms that had been used for iOS. </p>
        </div>
        <div class="fg--cell buffer"></div>
    </div>
</section> #}

{% endblock %}
