@import "vendor/normalize";
@import "components/variables";
@import "components/breakpoints";
@import "components/global";

// Home Page
body {

    &.home{
        section:not(#about){
            transition-duration: 0.2s;
        }
    }

    #tempScroller{
        width: 100%;
        height: 1000px;
    }

    .projects{
        padding-top: 200px;
    }

    #about {
        background: $black;
        position: relative;
        height: 100%;

        .container{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            position: relative;
            margin: 0 auto;

            .info {
                height: 100%;
                width: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;

                h1 {
                    display: block;
                    color: $white;
                    text-align: center;
                    margin:0;
                    font-size: 2.2em;
                }

                h3 {
                    display: block;
                    color: $red;
                    text-align: center;
                    font-weight: $regular;
                }

                .trigger--about:hover{
                    color: $black;
                }

            }

            .image {
                height: inherit;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .image-container {
                    @include aspect-ratio(1,1)
                    width: 350px;
                    border-radius: 50%;
                    background: $white;
                    position: relative;
                    top: 0;
                }
            }
        }
    }
    &.about, &.transition--about{
        section#about{
            height: 350px;

            .container {

                .info{
                    h1{
                        padding-top: 160px;
                    }
                    .button-container{
                        opacity:0;
                        height: 0;
                    }
                }
                .image {
                    .image-container {
                        width: 300px;
                        top: 150px;
                    }
                }
            }
        }
        section:not(#about){
            opacity: 0;
        }
    }

    // Initializing Each project
    @include project-defaults('sim',$orange, 32.5%, 7%);
    #sim{

        @include breakpoint(tablet){
            padding-bottom: 560px;
        }
        .container .feature-image{
            top: 50px;

            .container-inner{
                height:600px;
            }
        }
    }
    &.home.transition--sim {
        section#sim {
            .container .feature-image {
                top: 360px;

                .container-inner{
                    height: 500px;
                }
            }
        }
    }

    @include project-defaults('xtly', $blue, 12%, 26%);
    #xtly{
        @include breakpoint(tablet){
            padding-bottom: 100px;
        }

        .container .feature-image{
            bottom: 0;

            @include breakpoint(tablet){
                bottom: 40px;
            }

            .container-inner{
                height:550px;

                img{
                    margin: 0;
                    transform: translateX(-60px);

                    @include breakpoint(tablet){
                        transform: translateX(0);
                        margin-left: 12%;
                    }

                }
            }
        }
    }
    &.home.transition--xtly {
        section#xtly {
            .container .feature-image{
                bottom: -260px;

                .container-inner{
                    height: 600px;

                    img{
                        margin: 0;
                    }
                }
            }
        }
    }

    @include project-defaults('central', $red, 35%, 8%);
    #central{
        @include breakpoint(tablet){
            padding-bottom: 180px;
        }

        .container .feature-image{

            @include breakpoint(tablet){
                top: 120px;
                right: 80px;
            }

            .container-inner{
                height:300px;
            }
        }
    }
    &.home.transition--central {
        section#central {
            .container .feature-image{
                top: 300px;
                right: 0;

                .container-inner{
                    height:420px;

                    img{
                        transform: translateX(100px);
                    }
                }
            }
        }
    }

    @include project-defaults('puppy', $green, 24%, 22%);
    #puppy{
        @include breakpoint(tablet){
            padding-bottom: 180px;
        }

        .container .feature-image{
            @include breakpoint(tablet){
                bottom:20px;
                left: 8%;
            }

            .container-inner{
                height:480px;
            }
        }
    }
    &.home.transition--puppy {
        section#puppy {
            .container .feature-image{
                bottom: -340px;
                left: 0;

                .container-inner{
                    height: 680px;
                }
            }
        }
    }

    #gallery{
        background: $purple;
        height: 100%;

        @extend .soft-shadow;
    }
}

// About Page

body.about {
    header#about{
        height: 350px;
        .container {
            .image {
                .image-container {
                    width: 300px;
                    top: 150px;
                }
            }
            .aboutMe{
                opacity:0;
            }
        }
    }
    section#sim{
        opacity: 0;
    }
}
