@import "partials/_base";
@import "partials/pr_header";
@import "partials/_nav.scss";

// Home Page

body{
    &.home{
        section:not(#about){ // Default transition for sections that are disappearing.
            transition-duration: 0.2s;
        }

        .image-me{
            margin: 90px;
            width: calc(100% - 180px);
            margin-bottom: 0;
            padding-bottom: 0;
            align-self: flex-end;
        }

        #about {
            background: $black url('/img/about/background.jpg');
            background-size: cover;
            position: relative;
            height: 100%;
            overflow: hidden;

            svg{
                position: absolute;
                top:0; left:0;
                height: 100%;
                width: 100%;
                opacity: 0.85;

                polygon{
                  @extend .fade-in;
                  opacity: 0;
                }
            }

            .container{
                z-index: 1;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                position: relative;
                margin: 0 auto;
                flex-direction: column;

                @include breakpoint(laptop){
                    flex-direction: row;
                }

                .info {
                    width: 100%;
                    align-items: left;
                    justify-content: flex-end;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 60px;

                    .heading{
                        font-size: 10em;
                    }

                    em{
                        font-family: $heading;
                        font-style: normal;
                        font-weight: $bold;
                        color: $xtly;
                    }

                    h1 {
                        display: block;
                        color: $white;
                        text-align: center;
                        margin:0;
                        font-size: 4em;
                    }

                    h3 {
                        display: block;
                        font-weight: $reg;
                        max-width: $content-width;
                        font-size: 1.8em;
                    }

                    .trigger--about:hover{
                        color: $black;
                    }
                }

                .image {
                    height: inherit;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .image-container {
                        @include aspect-ratio(1 1)
                        width: 350px;
                        border-radius: 50%;
                        background: $white;
                        position: relative;
                        bottom: 0;
                    }
                }
            }
        }
        &.about, &.transition--about{
            section#about{
                height: 350px;

                .container {

                    .info{
                        h1{
                            padding-top: 160px;
                        }
                        .button-container{
                            opacity:0;
                            height: 0;
                        }
                    }
                    .image {
                        .image-container {
                            width: 300px;
                            top: 150px;
                        }
                    }
                }
            }
            section:not(#about){
                opacity: 0;
            }
        }
    }
}

.projects{
    padding:0;

    // @include breakpoint(tablet){
    //     padding-top: 78px;
    // }
}

#gallery{
    background: $gallery;
    height: 100%;

    @include soft-shadow();
}
