@import "partials/_base";
@import "partials/pr_header";
@import "partials/_nav.scss";
// Project Page

header{
    padding-bottom: 50px !important;
}
em{
    font-family: $heading;
    font-size: 0.95em;
}
p, li{
    color: $black;
    font-size: 1em;
    letter-spacing: 0.02em;
    line-height: 1.9;
    padding-bottom: 20px;
    max-width: $content-width;

    &.heading-1{
        font-size: 1.6em;
        font-family: $heading;
        font-weight: $bold;
        margin-bottom: 20px;
        text-align: center;
        @include breakpoint(laptop){
            text-align: left;
        }
    }
}
li{
    list-style: none;
    position: relative;
    padding-left: 0;

    &::before{
        content: '›';
        position: absolute;
        left: -1.2em; top: -4px;
        font-size: 1.2em;
        font-weight: $bold;
    }
}
section.content{
    opacity: 0;
    @extend .fade-in;
}
picture.content-image{
    padding: 0;
    width: 100%;
    position: relative;
    @include breakpoint(laptop){
        padding: 20px;
    }

    .no-shadow{
        box-shadow: none;
    }

    img{
        border-radius: 4px;
        width: 100%;
        @include soft-shadow(32,0.6);
        transition: $default-transition;
    }
    .picture-tag{
        text-align: center;
        font-size: 0.9em;
        font-family: $heading;
        font-weight: $thin;
        padding: 16px 0 20px;
        @include breakpoint(laptop){
            padding: 16px 20px 20px 40px;
        }
    }

    .prototype-tag{
        position: relative;
        &::after{
            transition: $default-transition;
            content: 'Live Prototype';
            position: absolute;
            bottom:0; right:0;
            padding: 10px;
            margin-bottom: 4px;
            border-radius: 4px 0 4px 0;
            color: $white;
            font-weight: $bold;
            font-size: 0.8em;
            text-transform: uppercase;
            opacity: 0.8;
        }
        &:hover{
            img{
                filter: brightness(40%);
            }
            &::after{
                opacity: 1;
            }
        }
    }
}
section.content{
    opacity: 0;
    @extend .fade-in;

    padding: 40px 0;
    position: relative;
    transition: $default-transition;
    color: $black;

    @include breakpoint(tablet){
        padding: 40px 0 80px;
    }

    .content--text{
        max-width: $content-width;

        &.center{
            margin: 0 auto;
            @include breakpoint(laptop){
                margin: 0;
            }
        }
    }

    &.alt{
        background: $gray;
    }

    &.background-image{
        background: transparent;
        padding: 0;

        *{
            transition: 0.4s all ease-in-out;
        }

        img.bg-image{
            width: 100%;
            max-width: 100%;
            z-index: 1;
            object-fit: cover;
        }

        .text{
            display: flex;
            align-items: flex-end;
            z-index: 2;
            flex: 1;

            @include breakpoint(tablet){
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100%;
            }
            div{
                margin: 0 auto;
                max-width: $content-width;

                @include breakpoint(tablet){
                    margin: 0;
                }

                p{
                    color: $black;
                    font-size: 1em;
                    line-height: 1.4;
                    font-style: italic;
                    transition-delay: 0.1s;


                    @include breakpoint(tablet){
                        color: $white;
                        font-size: 1.2em;
                        opacity: 0;
                        filter: blur(3px);
                    }
                }
            }

        }

        &.scrollfX{
            img.bg-image{
                @include breakpoint(tablet){
                    filter: brightness(0.3);
                }
            }

            .text{
                p{
                    opacity:1;
                    filter:blur(0);
                }
            }
        }
    }

    .buffer-laptop{
        display:none;

        @include breakpoint(laptop){
            display:block;
        }
    }

    &.image-rt{
        position: relative;
        top: 0%;
        z-index: 20;

        @include breakpoint(laptop){
            padding-top: 0; padding-bottom: 0;
            top: -20%;
        }

        .flex-grid{
            justify-content: flex-start;
        }
    }

    &.quote{
        .quote-text{
            font-size: 2em;
            font-style: italic;
        }
    }
}
#intro{
    .flex-grid{
        align-items: flex-end;
    }

    .content--text{
        padding-right: 30px;
    }
}
@mixin project-defaults($project){
    em{
        color: $project;
    }

    li::before{
        color: $project;
    }

    .content-image .picture-tag{
        color: $project;
    }

    .prototype-tag::after{
        background: $project;
    }
}

// Project Specific
body.sim{
    @include project-defaults($sim);
    #video{
        .video{
            @include video-embed(16 9);
            margin: 0 auto;
            max-width: 1080px;
        }
    }
    .next-up{
        .label::before, .label::after{
            @include breakpoint(tablet){
                background-color: $xtly;
            }
        }
        section{
            margin-top: 200px;
        }
    }

}
body.central{
    @include project-defaults($central);
    section{
        .flex-grid .fg--cell--custom{
            max-width: 100%;
            @include breakpoint(laptop){
                flex: 1;
                max-width: 50%;
            }
        }

        &#design-01{
            max-height: 800px;
            overflow: hidden;
            @include breakpoint(laptop){
                max-height: 750px;
            }
            @include breakpoint(desktop){
                max-height: 630px;
            }

            .content--text{

                @include breakpoint(laptop){
                    order:2;
                }
            }

            .buffer-laptop{
                padding-right: 60px;
                @include breakpoint(laptop){
                    order: 1;
                }
            }
        }

        &#design-02{
            padding-bottom: 0;
            @include breakpoint(laptop){
                height: 0%;
            }
        }

        &#design-03{
            .buffer-laptop{
                @include breakpoint(laptop){
                    padding-right: 60px;
                }
            }
        }

        &#design-04{
            .prototype-tag::after{
                margin-bottom: 3px;
            }
        }
    }
    .next-up{
        .label::before, .label::after{
            @include breakpoint(tablet){
                background-color: $puppy;
            }
        }
        section{
            margin-top: 200px;
        }
    }
}

// FOOTER
.next-up{
    padding-top: 0;
    @include breakpoint(tablet){
        padding-top: 200px;
    }

    section{
        .feature-container .feature-desc{
            margin: 0;
            @include breakpoint(laptop){
                margin: 0 10% !important;
            }
        }
    }

    .label{
        padding-left: 60px;
        font-size: 2em;
        width: auto;
        font-weight: bold;
        position: relative;
        display: inline;
        top: 60px;
        left: 0;
        opacity: 1;
        transition: 0.3s all ease-in-out;
        z-index: 1;
        color: $white;

        @include breakpoint(tablet){
            padding-left: 150px;
            top: -140px;
            color: $black;
        }

        &:before{
            content: '';
            background-color: $white;
            height: 5px;
            position: absolute;
            bottom: -8px;
            left:0;
            width: 106%;
        }
        &:after{
            content: '';
            background-color: $white;
            height: 12px;
            position: absolute;
            bottom: -11px;
            right:-6%;
            width: 12px;
        }
    }
}
body[class^="transition--"]{
    .next-up{
        padding: 200px;
    }
}
