@import 'partials/base';


// Landing Section

.landing {
    height: 100%;
    min-height: 680px;
    display: flex;
    margin-bottom: 20px;
}

.intro {
    $text: $grey;

    align-self: center;
    justify-content: space-between;
    z-index: 1;
    max-height: 100%;
    height: auto;
    min-height: 600px;
    max-width: 60%;
    flex-grow: 1;
    order: 1;
    padding-top: 100px;

    @include media('<laptop') {
        align-self: flex-end;
        max-width: 100%;
        min-height: 550px;
        order: 2;
        padding-top: 100px;
    }

    .nvenk-logo {
        height: 64px;
        width: 64px;
        margin: 24px 0 72px;
        transition: .2s transform $easing-d;

        .n-lines {
            transition: .2s fill $easing-d .3s;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    h1 {
        span {
            transition: $transition-d .3s;
        }
    }

    .emphasis {
        color: $black;
    }

    // Transitioning to About Page
    .active & {
        $text: $white;

        .button p {
            opacity: 0;
            visibility: hidden;
        }

        .line-1,
        .typer-p {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-30px);
        }

        .about-p {
            color: $text;
        }

        h1 {
            span {
                color: $text;
            }
        }

        .n-lines {
            fill: $white;
        }
    }
}

.hero-wrapper {
    width: 40%;
    padding: 20px;
    order: 2;
    display: flex;
    align-items: center;
    perspective: 3000px;

    @include media('<laptop'){
        width: 100%;
        max-height: 50%;
        order: 1;
        flex-shrink: 1;
    }
}

.hero-image {
    display: block;
    width: 100%;
    object-fit: contain;
    transition: .35s all ease-in-out .35s;
    opacity: 1;
    perspective: 1000px;
    @include aspect-ratio (400 512);

    @include media('<laptop') {
        display: none;
    }

    .active & {  // Expanded or Transition Styles
        // transform: rotateY(90deg);
        // visibility: hidden;
    }

    img {
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 0 40px rgba($black, .1);

        @include media('<laptop') {
            height: 192px;
            margin: 50px auto 0;
        }
    }
}

.line-1 {
    transition: $transition-d .35s;
    transition-duration: .2s;
}

.typer-p {
    height: 54px;
    transition: $transition-d;
    transition-duration: .2s;
    transition-delay: .375s;
}

.about-transition-block {
    position: fixed;
    top: 0;
    left: 0;
    background: $black;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transform-origin: left;
    transition: .6s all ease-in-out .2s;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);

    .active & {    // Expanded or Transition Styles
        transform: translateX(0%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}

.project-wrapper {
    padding-top: 40px;
}

// Skills Section

$icon-size: 128px;

.skill-icons {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 48px 0 0;
    opacity: .8;

    .icon {
        height: $icon-size;
        width: $icon-size;
        margin: 24px;
        padding: 24px;

        object {
            width: 100%;
        }
    }
}

// About Page

.about {
    background: $black;
    $text: $light-grey; // Set text to light grey for the dark background

    color: $text;

    // Landing on About Page
    .active {
        .intro {
            // animation: slide-down ease-in-out .6s forwards .4s;

            .line-1,
            .typer-p {
                opacity: 0;
                animation: fade-in-down $easing-d .3s forwards;
                color: $text;
                visibility: visible;
            }

            .typer-p {
                animation-delay: .05s;
            }
        }
    }

    p,
    li {
        color: $text;
        letter-spacing: 1.18px;
        line-height: 1.4;
    }

    .text p {
        font-size: 1.08em;
        line-height: 1.8;
        max-width: 36em;
        text-align: center;
        margin: 18px auto;
        letter-spacing: 1.2px;
        font-weight: $light;
    }
}

.design-tools {
    text-align: center;
    display: block;
}

.apps-i-use {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    width: 100%;

    @include media('<laptop') {
        grid-template-columns: repeat(3, auto);
    }

    @include media('<phone') {
        grid-template-columns: repeat(2, auto);
    }

    img {
        width: 100%;
        max-width: 200px;
        border-radius: 4px;
    }
}

.other-things .h3 {
    width: 100%;
    text-align: center;
}

.things {
    display: block;
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0;

    li {
        padding: 16px 0;
        margin: 0 auto;
        font-size: 1.1em;
    }
}

.resume {
    text-align: center;

    p {
        color: $accent;
    }
}
