.nav {
  background: $white;
  box-shadow: 0px 1px 8px 0px rgba($black,0.25);
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  height: auto;
  width: 100%;
  top: 0; left: 0;
  z-index: 1;

  @include breakpoint($screen-nav-tablet) {
    height: $nav-height-tab;
    padding: $nav-pad-tab $nav-pad-tab $nav-pad-tab ($nav-pad-tab * 2);
  }

  @include breakpoint($screen-nav-laptop) {
    height: $nav-height-lap;
    padding: $nav-pad-lap $nav-pad-lap $nav-pad-lap ($nav-pad-lap * 2);
  }

  @include breakpoint(desktop) {
    height: $nav-height-dsk;
    padding: $nav-pad-dsk $nav-pad-dsk $nav-pad-dsk ($nav-pad-dsk * 2);
  }

  @include breakpoint($max-width) {
    @include max-width;
    left: 50%;
    margin-left: -($max-width/2)
  }

  body.home & {
    transition: background 0.5s, color 0.5s, box-shadow 0.5s;
    box-shadow: 0px 1px 8px 0px rgba($black,0);

    @include breakpoint($screen-nav-tablet) {
      background: none;
    }
  }

  body.home.scrolled & { // JS on Home
    background: $white;
    box-shadow: 0px 1px 8px 0px rgba($black,0.25);

    a { 
      color: $black; 
      text-shadow: none;

      &.button {
        color: $white;

        &:hover {
          color: $red-text;
        }
      }
    }
  }

  a {
    font-family: $font-sans;
    font-size: 9px;
    font-weight: $font-bold;
    text-transform: uppercase;
    
    body.home & {
      @include breakpoint($screen-nav-tablet) {
        color: $white;
        text-shadow: 0 0 15px rgba(black,0.5);
      }
    }

    @include breakpoint(phone-lg) {
      font-size: 13px;
    }
  }

  .nav-logo { // 400x112px ratio
    @include hide-text;
    background: url(../img/logo.svg) center center no-repeat;
    background-size: contain;
    display: block;
    float: left;
    margin: $nav-pad-mob;
    width: $logo-height-mob * $logo-ratio;
    height: $logo-height-mob;

    @include breakpoint($screen-nav-tablet) {
      margin: 0;
      width: $logo-height-tab * $logo-ratio;
      height: $logo-height-tab;
    }

    @include breakpoint($screen-nav-laptop) {
      width: $logo-height-lap * $logo-ratio;
      height: $logo-height-lap;
    }

    @include breakpoint(desktop) {
      width: $logo-height-dsk * $logo-ratio;
      height: $logo-height-dsk;
    }
  }

  .nav-list {
    @include rule-top;
    display: block;
    height: $nav-height-mob;
    overflow: hidden; // clearfix
    text-align: center;
    width: 100%;

    body.home & {
      @include rule-bottom;
    }

    > li {
      display: inline-block;
      margin: 0 $nav-pad-mob;

      @include breakpoint($screen-nav-tablet) {
        margin: 0 $nav-pad-tab;
      }

      @include breakpoint($screen-nav-laptop) {
        margin: 0 $nav-pad-lap;
      }

      @include breakpoint(desktop) {
        margin: 0 $nav-pad-dsk;
      }
    }

    a {
      color: $black;
      display: block;
      height: $nav-height-mob;
      line-height: $nav-height-mob;
      text-decoration: none;

      @include breakpoint($screen-nav-tablet) {
        height: $logo-height-tab;
        line-height: $logo-height-tab;
      }

      @include breakpoint($screen-nav-laptop) {
        height: $logo-height-lap;
        line-height: $logo-height-lap;
      }

      @include breakpoint(desktop) {
        height: $logo-height-dsk;
        line-height: $logo-height-dsk;
      }
    }

    @include breakpoint($screen-nav-tablet) {
      border: none; // override rule-top
      display: inline-block;
      float: right;
      height: $nav-height-tab;
      margin-right: $nav-cta-width + $nav-pad-tab;
      width: auto;
    }

    @include breakpoint($screen-nav-laptop) {
      height: $nav-height-lap;
      margin-right: $nav-cta-width + $nav-pad-lap;
    }

    @include breakpoint(desktop) {
      height: $nav-height-dsk;
      margin-right: $nav-cta-width + $nav-pad-dsk;
    }
  }

  a.nav-link {
    position: relative;

    &:after {
      content:'';
      display: block;
      position: absolute;
      bottom: 0; left: -5px;
      width: calc(100% + 10px);
      height: 4px;
      background: rgba($grey-light,0);

      @include breakpoint($screen-nav-tablet)  { bottom: -($nav-pad-tab); }
      @include breakpoint($screen-nav-laptop)  { bottom: -($nav-pad-lap); }
      @include breakpoint(desktop) { bottom: -($nav-pad-dsk); }
    }

    &:hover:after {
      background: $grey-light;
    }
  }

  a.nav-here:after, a.nav-here:hover:after {
    background: $grey; // default
    body.shippers & { background: $shippers-color-text; color: $shippers-color-text;  }
    body.brokers &  { background: $brokers-color-text; color: $brokers-color-text;  }
    body.carriers & { background: $carriers-color-text; color: $carriers-color-text;  }
  }

  a.nav-cta.button { // overrides a few .button styles
    background: $red;
    border-color: $red-text;
    color: $white;
    display: block;
    line-height: $logo-height-mob - ($button-border * 2); // compensate for border
    position: absolute;
    text-transform: none;
    top: $nav-pad-mob; right: $nav-pad-mob;
    width: auto; 
    height: $logo-height-mob;

    &:hover {
      background: $white;
      color: $red-text;
    }

    body.home & {
      text-shadow: none;
      // border-color: $white;
    }

    @include breakpoint($screen-nav-tablet) {
      line-height: $logo-height-tab - ($button-border * 2); // compensate for border
      height: $logo-height-tab;
      top: $nav-pad-tab; 
      right: $nav-pad-tab * 2;
    }

    @include breakpoint($screen-nav-laptop) {
      line-height: $logo-height-lap - ($button-border * 2); // compensate for border
      height: $logo-height-lap;
      top: $nav-pad-lap; 
      right: $nav-pad-lap * 2;
    }

    @include breakpoint(desktop) {
      line-height: $logo-height-dsk - ($button-border * 2); // compensate for border
      height: $logo-height-dsk;
      top: $nav-pad-dsk; 
      right: $nav-pad-dsk * 2;
    }
  }

  li.nav-link-login {
    display: none;

    @include breakpoint($screen-nav-laptop) {
      display: inline-block; 
    }
  }
} // end .nav
