<div class="landing">
	<div class="container">
		<div class="content">
			<div class="logo">&nbsp;</div>
			<div class="nametag">Hi! I'm <span> Nikhil</span></div>
			<div class="about-text">I'm a UX Designer and I love designing new and innovative experiences. I specialize in interaction, motion and visual design.</div>
		</div>
	</div>
	<div class="scroll-suggest">
		<div class="container">
			<div class="scroll-pointer"></div>
			<div class="work-logo"></div>
			<div class="section-title">MY WORK</div>
		</div>
	</div>
</div>