//-----------------------------------------------
// Document Setup
//-----------------------------------------------

html,body{
	height: 100%;
	background-color: $black;
}

body {
	background-color: $white;
	font-family: $font-sans;
}

//-----------------------------------------------
// Common Elements
//-----------------------------------------------
.container{
	width: $container-width-tab;
	max-width: 100%;
	margin: 0 auto;
	@include breakpoint(tablet) { max-width: 1440px; width: $container-width; padding: 0 30px;}
}

.section-title{
	font-family: $font-title;
	font-size: 1.3rem;
	margin: 0 auto;
	color: $black;
	text-align: center;
	padding: 50px 10px 10px;
}

//-----------------------------------------------
// Aspect-Ratio Mixin from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
//-----------------------------------------------

@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}	
}

//-----------------------------------------------
// Grids - 4 Columns, Responsive
//-----------------------------------------------

.cols_4_25  {
	width: 100%; 
	display: inline-block;

	@include breakpoint(tablet) {
		width: calc(50% - 4px);
	}

	@include breakpoint(laptop) {
		width: calc(33.333% - 4px);
	}

	@include breakpoint(desktop) {
		width: calc(25% - 4px);
	}
}

.cols_4_50  {
	width: 100%; 
	display: inline-block;

	@include breakpoint(tablet) {
		width: calc(50% - 4px);
	}
}

//-----------------------------------------------
// Social Icons
//-----------------------------------------------

.social-container{
	display: block;
	margin: 20px auto;
	max-width: calc(102px*5);
	padding:0px;
	background: $blue;
}

.social{
	height: 48px;
	width: calc(99px);
	list-style: none;
	display: inline-block;
	background-color: $red;
	margin: 0px;
}


